<html>
<head>
    <title>Header forside</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../example.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>

<header id="dsa-header">
    <nav class="dsa-header-nav" aria-label="Hovedmeny">
        <a href="/" class="dsa-header-til-forsiden" aria-label="Gå til forsiden">
            <i role="img" aria-label="Arbeidsplassen logo" class="dsa-header-logo"></i>
        </a>
        <div id="dsa-header-login-container">
            <button type="button">Logg inn</button>
        </div>
    </nav>
</header>

</body>
</html>