.dsa-anchor {
    display: inline-flex;
    align-items: center;
    gap: 0.125rem;
}

.dsa-anchor,
.dsa-anchor:visited {
    color: var(--secondary-60);
}

.dsa-anchor.dsa-anchor-dark,
.dsa-anchor:visited.dark {
    color: var(--primary-100);
}

.dsa-anchor:hover {
    text-decoration: none;
}

.dsa-anchor:focus,
.dsa-anchor:focus.dsa-anchor-dark {
    outline: none;
    color: #fff;
    background: var(--secondary-60);
}
