@media (min-width: 320px) {
    :root {
        --header-height: 73px;
    }
}

@media (min-width: 375px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 728px) {
    :root {
        --header-height: 96px;
    }
}

.dsa-header-wrapper {
    background: var(--neutral-0);
    box-shadow: 0 1px 4px 0 #0000001a;
    border-bottom: solid 1px var(--neutral-20);
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: fixed;
    z-index: 9999;
    top: 0;
}

@media (min-width: 375px) {
    .dsa-header-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 728px) {
    .dsa-header-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.dsa-header {
    max-width: 1216px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem 0;
}

.dsa-header-logo {
    display: inline-block;
    height: 48px;
    margin: 0 1rem 0 0;
}

@media (min-width: 375px) {
    .dsa-header-logo {
        margin: 0 1.5rem 0 0;
    }
}

@media (min-width: 728px) {
    .dsa-header-logo {
        margin: 0 2rem 0 0;
    }
}

.dsa-header-logo:focus-visible {
    outline: 2px solid var(--secondary-60);
}

.dsa-header-logo i {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("data:image/svg+xml,%3Csvg width=%2748%27 height=%2748%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M48 24C48 10.745 37.255 0 24 0S0 10.745 0 24s10.745 24 24 24h24V24Z%27 fill=%27%23C1F3DB%27/%3E%3Cpath d=%27M23.343 31.095a5.65 5.65 0 0 0 5.757-6.149 5.756 5.756 0 0 0-5.757-6.148 5.65 5.65 0 0 0-5.757 6.148 5.65 5.65 0 0 0 5.757 6.15Zm-.95-16.321a7.535 7.535 0 0 1 6.722 3.647v-2.698a.422.422 0 0 1 .392-.377h3.436a.423.423 0 0 1 .391.377V30.9h1.508a.482.482 0 0 1 .376.769l-.964 2.682c0 .196-.181.196-.377.196h-4.22a.422.422 0 0 1-.392-.376v-2.698a7.353 7.353 0 0 1-6.721 3.647c-4.989 0-9.223-4.596-9.223-10.173a9.448 9.448 0 0 1 9.042-10.172h.03Z%27 fill=%27%2308213F%27/%3E%3C/svg%3E");
}

@media (min-width: 728px) {
    .dsa-header-logo i {
        width: 216px;
        height: 48px;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width=%27216%27 height=%2748%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg clip-path=%27url%28%23a%29%27%3E%3Cpath d=%27M0 23.81A23.773 23.773 0 0 1 7.003 6.987 23.926 23.926 0 0 1 23.887.02h167.695a23.925 23.925 0 0 1 16.883 6.967 23.772 23.772 0 0 1 7.003 16.825v23.83H23.887c-3.139 0-6.246-.616-9.146-1.814A23.892 23.892 0 0 1 6.99 40.66a23.806 23.806 0 0 1-5.176-7.731A23.745 23.745 0 0 1 0 23.81Z%27 fill=%27%23C1F3DB%27/%3E%3Cpath d=%27M22.101 28.719a3.666 3.666 0 0 0 2.752-1.153 3.642 3.642 0 0 0 .973-2.812 3.702 3.702 0 0 0-.997-2.79 3.725 3.725 0 0 0-2.728-1.176 3.665 3.665 0 0 0-2.751 1.153 3.643 3.643 0 0 0-.973 2.813 3.633 3.633 0 0 0 .973 2.812 3.658 3.658 0 0 0 2.751 1.153Zm-.614-10.526a4.887 4.887 0 0 1 4.349 2.352v-1.74a.271.271 0 0 1 .253-.242h2.223a.273.273 0 0 1 .253.243v9.787h.975a.312.312 0 0 1 .244.495l-.624 1.73c0 .127-.117.127-.244.127h-2.73a.273.273 0 0 1-.253-.244v-1.74a4.77 4.77 0 0 1-4.348 2.352c-3.227 0-5.967-2.963-5.967-6.56a6.075 6.075 0 0 1 1.526-4.52 6.111 6.111 0 0 1 4.324-2.04h.02ZM32.787 30.575v-9.787h-.975c-.244 0-.37-.242-.244-.495l.644-1.73c0-.126.127-.126.253-.126h2.672a.273.273 0 0 1 .253.252v2.469a5.585 5.585 0 0 1 1.94-2.182 5.61 5.61 0 0 1 2.78-.909.264.264 0 0 1 .243.243v2.479a.262.262 0 0 1-.244.252c-3.237 0-4.719 1.73-4.719 3.956v5.452a.272.272 0 0 1-.253.253h-2.223c0 .116-.127 0-.127-.127ZM52.794 24.754a3.712 3.712 0 0 0-1.004-2.79 3.734 3.734 0 0 0-2.73-1.176 3.664 3.664 0 0 0-2.752 1.153 3.643 3.643 0 0 0-.973 2.813 3.711 3.711 0 0 0 1 2.787 3.734 3.734 0 0 0 2.724 1.178 3.677 3.677 0 0 0 2.755-1.152 3.65 3.65 0 0 0 .98-2.813Zm-7.586 4.091v1.73a.262.262 0 0 1-.243.243h-3.003c-.254 0-.37-.243-.254-.495l.878-2.1V13.86a.262.262 0 0 1 .243-.253h2.252a.273.273 0 0 1 .254.253v6.686a4.75 4.75 0 0 1 1.843-1.783 4.77 4.77 0 0 1 2.505-.569c3.227 0 5.967 2.848 5.967 6.56 0 3.713-2.74 6.56-5.967 6.56a5.346 5.346 0 0 1-4.475-2.468ZM67.087 23.393c0-1.74-1.239-2.73-3.1-2.73a3.156 3.156 0 0 0-2.15.74 3.136 3.136 0 0 0-1.088 1.99h6.337Zm-3.228-5.2a5.965 5.965 0 0 1 4.314 1.822 5.926 5.926 0 0 1 1.653 4.37v.971a.272.272 0 0 1-.253.243h-8.94a3.054 3.054 0 0 0 .984 2.165 3.073 3.073 0 0 0 2.242.81c1.239 0 2.36-.127 2.857-1.119 0-.116.127-.116.254-.116h2.232c.244 0 .37.117.244.37-.614 2.225-2.925 3.343-5.46 3.343-3.48 0-6.093-2.848-6.093-6.56a6.018 6.018 0 0 1 1.64-4.42 6.052 6.052 0 0 1 4.326-1.898v.02ZM72.683 30.575v-11.77a.272.272 0 0 1 .244-.242h2.242a.273.273 0 0 1 .244.243v11.77a.262.262 0 0 1-.244.242h-2.242a.264.264 0 0 1-.244-.243Zm-.37-15.23a1.715 1.715 0 0 1 1.067-1.609c.212-.087.439-.131.668-.13.439.033.85.23 1.149.552a1.737 1.737 0 0 1-1.15 2.918 1.672 1.672 0 0 1-1.622-1.057 1.657 1.657 0 0 1-.113-.673ZM84.734 28.719a3.666 3.666 0 0 0 2.75-1.153 3.642 3.642 0 0 0 .974-2.812 3.711 3.711 0 0 0-1-2.787 3.734 3.734 0 0 0-2.724-1.179 3.665 3.665 0 0 0-2.752 1.153 3.643 3.643 0 0 0-.973 2.813 3.634 3.634 0 0 0 .973 2.812 3.655 3.655 0 0 0 2.752 1.153Zm-.624-10.526a4.887 4.887 0 0 1 4.348 2.352V13.86a.273.273 0 0 1 .253-.253h2.233a.263.263 0 0 1 .244.253v14.734h.975a.313.313 0 0 1 .313.336.31.31 0 0 1-.06.16l-.624 1.73c0 .126-.127.126-.243.126h-2.72a.273.273 0 0 1-.244-.244v-1.74a4.751 4.751 0 0 1-1.844 1.785 4.77 4.77 0 0 1-2.505.568c-3.227 0-5.967-2.848-5.967-6.56 0-3.713 2.613-6.56 5.85-6.56h-.01ZM94.552 27.728a.262.262 0 0 1 .243-.253h2.233a.273.273 0 0 1 .253.253c.244.738 1.492 1.234 2.984 1.234 1.735 0 2.856-.496 2.856-1.487 0-2.848-8.453.126-8.453-5.2 0-2.478 1.95-3.965 5.343-3.965 2.984 0 5.343 1.37 5.47 3.596a.262.262 0 0 1-.254.243h-2.359a.261.261 0 0 1-.244-.243c-.253-.865-1.365-1.36-2.74-1.36-1.608 0-2.603.495-2.603 1.603 0 2.605 8.57-.243 8.57 5.21 0 2.351-2.106 3.887-5.586 3.887-3.11 0-5.597-1.37-5.713-3.47v-.048ZM115.543 20.662a3.672 3.672 0 0 0-2.752 1.153 3.64 3.64 0 0 0-.973 2.812 3.707 3.707 0 0 0 2.238 3.66c.469.203.975.307 1.487.306a3.67 3.67 0 0 0 2.751-1.153 3.64 3.64 0 0 0 .973-2.813 3.634 3.634 0 0 0-.973-2.812 3.66 3.66 0 0 0-2.751-1.153Zm.624 10.535a4.885 4.885 0 0 1-4.349-2.352v6.687a.275.275 0 0 1-.253.243h-2.233a.272.272 0 0 1-.254-.243V20.788h-.974c-.254 0-.381-.243-.254-.495l.624-1.73c0-.127.117-.127.244-.127h2.856a.276.276 0 0 1 .175.08.277.277 0 0 1 .079.173v1.73a4.75 4.75 0 0 1 1.843-1.784 4.772 4.772 0 0 1 2.505-.568c3.227 0 5.957 2.848 5.957 6.56 0 3.713-2.603 6.57-5.957 6.57h-.009ZM124.99 30.575V13.86a.26.26 0 0 1 .244-.253h2.232a.276.276 0 0 1 .175.08.277.277 0 0 1 .079.173v16.716a.262.262 0 0 1-.254.243h-2.232a.254.254 0 0 1-.244-.243ZM136.963 28.719a3.679 3.679 0 0 0 2.754-1.152 3.644 3.644 0 0 0 .98-2.813 3.73 3.73 0 0 0-.211-1.5 3.728 3.728 0 0 0-3.523-2.466 3.663 3.663 0 0 0-2.752 1.153 3.638 3.638 0 0 0-.973 2.813 3.579 3.579 0 0 0 .951 2.833 3.6 3.6 0 0 0 2.774 1.132Zm-.624-10.526a4.888 4.888 0 0 1 4.358 2.352v-1.74a.264.264 0 0 1 .244-.243h2.232a.272.272 0 0 1 .254.244v9.787h.975a.317.317 0 0 1 .273.174.312.312 0 0 1-.03.321l-.614 1.73c0 .127-.127.127-.253.127h-2.73a.272.272 0 0 1-.254-.244v-1.74a4.75 4.75 0 0 1-1.843 1.785 4.772 4.772 0 0 1-2.505.568c-3.227 0-5.957-2.964-5.957-6.56 0-3.596 2.476-6.56 5.85-6.56ZM146.654 27.728a.272.272 0 0 1 .253-.253h2.233a.273.273 0 0 1 .254.253c.243.738 1.481 1.234 2.973 1.234 1.745 0 2.857-.496 2.857-1.487 0-2.848-8.443.126-8.443-5.2 0-2.478 1.95-3.965 5.342-3.965 2.984 0 5.343 1.37 5.47 3.596a.262.262 0 0 1-.253.243h-2.36a.26.26 0 0 1-.253-.243c-.244-.865-1.365-1.36-2.73-1.36-1.619 0-2.603.495-2.603 1.603 0 2.605 8.57-.243 8.57 5.21 0 2.351-2.116 3.887-5.597 3.887-2.973 0-5.586-1.37-5.713-3.47v-.048ZM160.45 27.728a.26.26 0 0 1 .243-.253h2.233a.273.273 0 0 1 .254.253c.243.738 1.491 1.234 2.983 1.234 1.735 0 2.857-.496 2.857-1.487 0-2.848-8.453.126-8.453-5.2 0-2.478 1.95-3.965 5.343-3.965 2.983 0 5.342 1.37 5.469 3.596a.263.263 0 0 1-.244.243h-2.369a.264.264 0 0 1-.244-.243c-.253-.865-1.364-1.36-2.729-1.36-1.619 0-2.613.495-2.613 1.603 0 2.605 8.57-.243 8.57 5.21 0 2.351-2.106 3.887-5.587 3.887-2.983 0-5.47-1.37-5.713-3.47v-.048ZM182.884 23.393c0-1.74-1.238-2.731-3.101-2.731a3.155 3.155 0 0 0-2.173.728 3.137 3.137 0 0 0-1.103 2.003h6.377Zm-3.101-5.2a5.967 5.967 0 0 1 4.308 1.825 5.913 5.913 0 0 1 1.649 4.366v.972a.264.264 0 0 1-.243.243h-8.824a3.066 3.066 0 0 0 2.026 2.792c.384.14.793.202 1.201.182 1.248 0 2.37-.126 2.867-1.117 0-.117.117-.117.244-.117h2.271c.254 0 .38.117.254.37-.624 2.225-2.984 3.342-5.47 3.342-3.481 0-6.084-2.847-6.084-6.56a5.834 5.834 0 0 1 .297-2.38 5.837 5.837 0 0 1 3.196-3.451 5.864 5.864 0 0 1 2.357-.486l-.049.02ZM187.983 18.69c0-.127.117-.127.244-.127h2.739a.27.27 0 0 1 .165.078.267.267 0 0 1 .079.165v1.944a4.312 4.312 0 0 1 1.7-1.962 4.33 4.33 0 0 1 2.522-.633c3.237 0 4.475 2.352 4.475 6.064v6.444a.272.272 0 0 1-.244.243h-2.242a.263.263 0 0 1-.244-.243v-6.434c0-2.848-1.248-3.47-2.857-3.47-2.242 0-3.237 1.614-3.237 3.966v5.947a.264.264 0 0 1-.243.243h-2.243a.273.273 0 0 1-.244-.242v-9.758h-.975a.314.314 0 0 1-.273-.174.313.313 0 0 1 .03-.322l.867-1.73h-.019Z%27 fill=%27%23003141%27/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id=%27a%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 0h216v48H0z%27/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

.dsa-header-menu-both {
    display: flex;
    gap: 1.5rem 0;
    flex: 1;
}

.dsa-header-menu-both ul {
    flex: 1;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 0;
    align-items: center;
}

@media (min-width: 1344px) {
    .dsa-header-menu-both ul {
        gap: 1.5rem;
    }
}

@media (min-width: 1344px) {
    .dsa-header-hide-on-desktop {
        display: none!important;
    }
}

.dsa-header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem var(--gutter);
    padding: 1.5rem 0;
    align-items: center;
}

@media (max-width: 1343px) {
    .dsa-header-menu-hidden {
        display: none;
    }
}

@media (min-width: 1344px) {
    .dsa-header-menu {
        width: auto;
        flex: 1;
        flex-direction: row;
        padding: 0;
    }
}

.dsa-header-menu ul {
    flex: 1;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 0 1rem 0;
    align-items: center;
}

.dsa-header-menu-both ul li a,
.dsa-header-menu ul li a {
    white-space: nowrap;
    color: var(--primary-100);
    text-decoration: none;
    font-size: var(--font-size-default);
    line-height: 1.5rem;
}

.dsa-header-menu-both ul li a.dsa-header-active,
.dsa-header-menu ul li a.dsa-header-active {
    font-weight: 600;
    box-shadow: 0 4px 0 0 var(--primary-40);
}

.dsa-header-menu-both ul li a:hover,
.dsa-header-menu ul li a:hover {
    background: var(--secondary-20);
    box-shadow: 0 2px 0 0 var(--secondary-60);
}

.dsa-header-menu-both ul li a:focus,
.dsa-header-menu ul li a:focus {
    outline: 3px solid var(--secondary-60);
}

@media (min-width: 1344px) {
    .dsa-header-menu ul {
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
}

.dsa-header-user {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-default);
}

@media (min-width: 1344px) {
    .dsa-header-user {
        flex-direction: row;
        gap: 1.5rem;
    }
}

.dsa-header-account {
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.dsa-header-account,
.dsa-header-account:hover,
.dsa-header-account:visited {
    color: var(--secondary-60);
}

.dsa-header-account:hover {
    text-decoration: none;
}

.dsa-header-account:focus {
    outline: 3px solid var(--secondary-60);
}

@media (max-width: 400px) {
    .dsa-header-login-button .dsa-button-icon,
    .dsa-header-logout-button .dsa-button-icon {
        display: none;
    }
}
