.dsa-tab-menu {
    flex: 1;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
    align-items: center;
}

@media (min-width: 648px) {
    .dsa-tab-menu {
        flex-direction: row;
    }
}

.dsa-tab-menu li a {
    white-space: nowrap;
    color: var(--primary-100);
    text-decoration: none;
    font-size: var(--font-size-default);
    line-height: 1.5rem;
}

.dsa-tab-menu li.dsa-tab-menu-active a {
    font-weight: 600;
    box-shadow: 0 4px 0 0 var(--primary-40);
}

.dsa-tab-menu li a:hover {
    background: var(--secondary-20);
    box-shadow: 0 2px 0 0 var(--secondary-60);
}

.dsa-tab-menu li a:focus {
    outline: 3px solid var(--secondary-60);
}
