.ads-link {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #8c368e;
}

.ads-link:hover {
    text-decoration: none;
    color: #9C4F9C;
}

.ads-link:focus {
    outline: none;
    color: #fff;
    background: #062140;
}


