.dsa-heading {
    font-weight: 600;
    margin: 0;
    overflow-wrap: break-word;
}

.dsa-heading-xxlarge-space {
    margin-bottom: 1.75rem;
}

.dsa-heading-xlarge-space,
.dsa-heading-large-space {
    margin-bottom: 1.25rem;
}

.dsa-heading-medium-space,
.dsa-heading-small-space,
.dsa-heading-xsmall-space {
    margin-bottom: 0.25rem;
}

.dsa-heading-xxlarge {
    font-size: var(--font-size-xxlarge);
    line-height: var(--line-height-xxlarge);
}

.dsa-heading-xlarge {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-xlarge);
}

.dsa-heading-large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}

.dsa-heading-medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.dsa-heading-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.dsa-heading-xsmall {
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-xsmall);
}
