.dsa-heading-xxl,
.dsa-heading-xl,
.dsa-heading-lg,
.dsa-heading-md,
.dsa-heading-sm,
.dsa-heading-xs {
    font-weight: 600;
    margin: 0;
}

.dsa-heading-mb {
    margin: 0 0 2rem 0;
}

.dsa-heading-xxl {
    font-size: 3rem;
    line-height: 3.75rem;
}

.dsa-heading-xl {
    font-size: 2.25rem;
    line-height: 2.875rem;
}

.dsa-heading-lg {
    font-size: 1.75rem;
    line-height: 2.375rem;
}

.dsa-heading-md {
    font-size: 1.5rem;
    line-height: 2rem;
}

.dsa-heading-sm {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.dsa-heading-xs {
    font-size: 1rem;
    line-height: 1.5rem;
}
