.back-link {
    display: inline-flex;
    gap: 0.125rem;
    align-items: center;
    color: var(--secondary-60);
    font-size: var(--font-size-default);
    margin-bottom: var(--gutter);
}

.back-link:visited {
    color: var(--secondary-60);
}

.back-link:hover {
    text-decoration: none;
}

.back-link:focus {
    outline: 2px solid var(--secondary-60);
}
