.arb-primary-bg-text {
  color: var(--arb-text-on-primary);
  background-color: var(--arb-link-panel-primary-bg);
}

.arb-secondary-bg-text {
  color: var(--arb-text-on-secondary);
  background-color: var(--arb-link-panel-secondary-bg);
}

.arb-tertiary-bg-text {
  color: var(--arb-text-on-tertiary);
  background-color: var(--arb-link-panel-tertiary-bg);
}
