.dsa-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

@media (min-width: 375px) {
    .dsa-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 720px) {
    .dsa-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 928px) {
    .dsa-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.dsa-container-inner {
    margin-left: auto;
    margin-right: auto;
}

.dsa-container-inner-large {
    max-width: 1216px;
}

.dsa-container-inner-medium {
    max-width: 800px;
}

.dsa-container-inner-small {
    max-width: 600px;
}

.dsa-container-green {
    background: var(--primary-10);
}

.dsa-container-blue {
    background: var(--secondary-20);
}

.dsa-container-orange {
    background: var(--tertiary-5);
}

@media (min-width: 928px) {
    .dsa-pull-outside {
        margin-left: -100px;
        margin-right: -100px;
    }
}
