.arb-panel {
  border-radius: 0.25rem;
}

.arb-panel-lofty {
  padding: 1rem;
}

@media (min-width: 375px) {
  .arb-panel-lofty {
    padding: 1.5rem;
  }

  .arb-panel-compact {
    padding: 1rem 1.5rem;
  }
}

@media (min-width: 728px) {
  .arb-panel-lofty {
    padding: 2rem;
  }

  .arb-panel-compact {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 928px) {
  .arb-panel-lofty {
    padding: 3rem 4rem;
  }

  .arb-panel-compact {
    padding: 1.5rem 4rem;
  }
}
