.arb-push-footer-down {
    min-height: 100%;
    margin-bottom: -764px;
    padding-bottom: 764px;
}

@media (min-width: 960px) {
    .arb-push-footer-down {
        margin-bottom: -464px;
        padding-bottom: 464px;
    }
}

.arb-footer {
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: var(--arb-brand-green-300);
    line-height: 1.5;
}

.dark .arb-footer {
    background: var(--arb-dark-mode-shade-200);
}

@media (min-width: 960px) {
    .arb-footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.arb-footer-sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem 5rem;
    margin-bottom: 2.5rem;
}

@media (min-width: 960px) {
    .arb-footer-sections {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }
}

.arb-footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.arb-footer-bottom {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media (min-width: 960px) {
    .arb-footer-bottom {
        align-items: center;
    }
}

.arb-footer-logo {
    margin: 0;
    display: inline-flex;
    height: 40px;
}
