.arb-header-wrapper {
  background: var(--a-bg-default);
  padding-top: var(--a-spacing-4);
  padding-bottom: var(--a-spacing-4);
}

@media (min-width: 768px) {
  .arb-header-wrapper {
    padding-top: var(--a-spacing-6);
    padding-bottom: var(--a-spacing-6);
  }
}

.arb-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--a-spacing-4) 0;
}

@media (min-width: 768px) {
  .arb-header {
    justify-content: start;
  }
}

.arb-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arb-header-spacer {
  display: none;
}

@media (min-width: 768px) {
  .arb-header-spacer {
    flex: 1;
    display: block;
  }
}

.arb-header-logo {
  display: inline-block;
  height: 48px;
  margin: 0 1rem 0 0;
}

@media (min-width: 480px) {
  .arb-header-logo {
    margin: 0 1.5rem 0 0;
  }
}

@media (min-width: 768px) {
  .arb-header-logo {
    margin: 0 0.5rem 0 0;
  }
}

@media (min-width: 1024px) {
  .arb-header-logo {
    margin: 0 2rem 0 0;
  }
}

.arb-header-logo:focus-visible {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.arb-header-logo-mobile {
  display: block;
  width: 48px;
  height: 48px;
}

.arb-header-logo-desktop {
  display: none;
  width: 216px;
  height: 48px;
}

@media (min-width: 1280px) {
  .arb-header-logo-mobile {
    display: none;
  }

  .arb-header-logo-desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .arb-header-menu-button-below-desktop {
    display: none !important;
  }
}

.arb-header-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--a-spacing-4);
}

@media (max-width: 1343px) {
  .arb-header-menu-hidden {
    display: none;
  }
}

@media (min-width: 1344px) {
  .arb-header-menu {
    width: auto;
    flex: 1;
    flex-direction: row;
    padding: 0;
  }
}

.arb-header-links ul {
  flex: 1;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  margin: 0 0 var(--a-spacing-4) var(--a-spacing-20);
}

@media (min-width: 768px) {
  .arb-header-links ul {
    flex-direction: row;
    margin: 0 0 0 var(--a-spacing-20);
  }
}

@media (min-width: 1024px) {
  .arb-header-links ul {
    margin: 0;
  }
}

.arb-header-links-below-large {
  display: block;
}

.arb-header-links-above-large {
  display: none;
}

@media (min-width: 1024px) {
  .arb-header-links-above-large {
    display: block;
  }

  .arb-header-links-below-large {
    display: none;
  }
}

.arb-header-menu-link {
  white-space: nowrap;
  color: var(--a-text-default);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.arb-header-menu-link-active .arb-header-menu-item-inner {
  font-weight: 600;
  box-shadow: 0 4px 0 0 var(--arb-border-moderate);
}

.arb-header-menu-link:hover .arb-header-menu-item-inner {
  color: var(--a-text-action);
  box-shadow: 0 2px 0 0 var(--a-text-action);
}

.arb-header-menu-link-active:hover .arb-header-menu-item-inner {
  box-shadow: 0 4px 0 0 var(--a-text-action);
}

.arb-header-menu-link:active .arb-header-menu-item-inner {
  color: var(--a-text-on-action);
  background: var(--a-surface-action-active);
}

.arb-header-menu-link-active:focus .arb-header-menu-item-inner,
.arb-header-menu-link:focus .arb-header-menu-item-inner {
  box-shadow: none;
}

.arb-header-menu-link:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

@media (min-width: 1344px) {
  .arb-header-menu ul {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}
.arb-header-divider {
  display: flex;
}

@media (max-width: 767px) {
  .arb-header-divider {
    flex-direction: column;
  }
  .arb-header-divider::before {
    content: " ";
    height: 1px;
    width: var(--a-spacing-4);
    background: var(--a-border-default);
    margin-bottom: var(--a-spacing-4);
  }
}

@media (min-width: 768px) {
  .arb-header-divider {
    flex-direction: row;
  }

  .arb-header-divider::before {
    content: " ";
    height: 100%;
    width: 1px;
    background: var(--a-border-default);
    margin-right: var(--a-spacing-4);
  }
}

.arb-header-user {
  display: flex;
  gap: var(--a-spacing-4) var(--a-spacing-2);
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
}

@media (min-width: 1344px) {
  .arb-header-user {
    flex-direction: row;
  }
}

.arb-header-user-above-tablet {
  display: none;
}

@media (min-width: 768px) {
  .arb-header-user-below-tablet {
    display: none;
  }

  .arb-header-user-above-tablet {
    display: flex;
  }
}
