:root {
  --header-gutter: 1rem;
}

@media (min-width: 375px) {
  :root {
    --header-gutter: 1.5rem;
  }
}

@media (min-width: 928px) {
  :root {
    --header-gutter: 2rem;
  }
}

.arb-header-wrapper {
  background: var(--a-bg-default);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 728px) {
  .arb-header-wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.arb-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem 0;
}

.arb-header-logo {
  display: inline-block;
  height: 48px;
  margin: 0 1rem 0 0;
}

@media (min-width: 375px) {
  .arb-header-logo {
    margin: 0 1.5rem 0 0;
  }
}

@media (min-width: 728px) {
  .arb-header-logo {
    margin: 0 2rem 0 0;
  }
}

.arb-header-logo:focus-visible {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.arb-header-logo-mobile {
  display: block;
  width: 48px;
  height: 48px;
}

.arb-header-logo-desktop {
  display: none;
  width: 216px;
  height: 48px;
}

@media (min-width: 728px) {
  .arb-header-logo-mobile {
    display: none;
  }

  .arb-header-logo-desktop {
    display: block;
  }
}

.arb-header-menu-both {
  display: flex;
  gap: 1.5rem 0;
  flex: 1;
}

.arb-header-menu-both ul {
  flex: 1;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
  align-items: center;
}

@media (min-width: 1344px) {
  .arb-header-menu-both ul {
    gap: 1.5rem;
  }
}

@media (min-width: 1344px) {
  .arb-header-hide-on-desktop {
    display: none !important;
  }
}

.arb-header-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem var(--header-gutter);
  padding: 1.5rem 0;
  align-items: center;
}

@media (max-width: 1343px) {
  .arb-header-menu-hidden {
    display: none;
  }
}

@media (min-width: 1344px) {
  .arb-header-menu {
    width: auto;
    flex: 1;
    flex-direction: row;
    padding: 0;
  }
}

.arb-header-menu ul {
  flex: 1;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 0 1rem 0;
  align-items: center;
}

.arb-header-menu-link {
  white-space: nowrap;
  color: var(--a-text-default);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.arb-header-menu-link-active .arb-header-menu-item-inner {
  font-weight: 600;
  box-shadow: 0 4px 0 0 var(--arb-border-moderate);
}

.arb-header-menu-link:hover .arb-header-menu-item-inner {
  color: var(--a-text-action);
  box-shadow: 0 2px 0 0 var(--a-text-action);
}

.arb-header-menu-link-active:hover .arb-header-menu-item-inner {
  box-shadow: 0 4px 0 0 var(--a-text-action);
}

.arb-header-menu-link:active .arb-header-menu-item-inner {
  color: var(--a-text-on-action);
  background: var(--a-surface-action-active);
}

.arb-header-menu-link-active:focus .arb-header-menu-item-inner,
.arb-header-menu-link:focus .arb-header-menu-item-inner {
  box-shadow: none;
}

.arb-header-menu-link:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

@media (min-width: 1344px) {
  .arb-header-menu ul {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}

.arb-header-user {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

@media (min-width: 1344px) {
  .arb-header-user {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (max-width: 400px) {
  .arb-header-login-button .arb-button-icon,
  .arb-header-logout-button .arb-button-icon {
    display: none;
  }
}
