.light {
    --arb-illustration-arms-and-legs: var(--arb-success-800);
    --arb-illustration-face: var(--arb-success-800);
    --arb-illustration-shadow: var(--arb-accent-100);
    --arb-illustration-items: var(--arb-success-800);
}

.dark {
    --arb-illustration-arms-and-legs: var(--arb-success-700);
    --arb-illustration-face: var(--arb-success-800);
    --arb-illustration-shadow: rgba(255, 255, 255, 0.06);
    --arb-illustration-items: var(--arb-success-700);
}

.arb-illustration-arms-and-legs-stroke {
    stroke: var(--arb-illustration-arms-and-legs);
}

.arb-illustration-arms-and-legs-fill {
    fill: var(--arb-illustration-arms-and-legs);
}

.arb-illustration-face-stroke {
    stroke: var(--arb-illustration-face);
}

.arb-illustration-face-fill {
    fill: var(--arb-illustration-face);
}

.arb-illustration-items-stroke {
    stroke: var(--arb-illustration-items);
}

.arb-illustration-items-fill {
    fill: var(--arb-illustration-items);
}

.arb-illustration-shadow {
    fill: var(--arb-illustration-shadow);
}
