/**
 * Light / dark mode styling of svg
 */
[data-theme="arbeidsplassen"] {
  --arb-illustration-arms-and-legs: var(--arb-green-700);
  --arb-illustration-face: var(--arb-green-700);
  --arb-illustration-shadow: var(--arb-blue-50);
  --arb-illustration-items: var(--arb-green-700);
}

[data-theme="arbeidsplassen-dark"] {
  --arb-illustration-arms-and-legs: var(--arb-green-600);
  --arb-illustration-face: var(--arb-green-700);
  --arb-illustration-items: var(--arb-green-600);
  --arb-illustration-shadow: var(--arb-whitealpha-50);
}

.arb-illustration-arms-and-legs-stroke {
  stroke: var(--arb-illustration-arms-and-legs);
}

.arb-illustration-arms-and-legs-fill {
  fill: var(--arb-illustration-arms-and-legs);
}

.arb-illustration-face-stroke {
  stroke: var(--arb-illustration-face);
}

.arb-illustration-face-fill {
  fill: var(--arb-illustration-face);
}

.arb-illustration-items-stroke {
  stroke: var(--arb-illustration-items);
}

.arb-illustration-items-fill {
  fill: var(--arb-illustration-items);
}

.arb-illustration-shadow {
  fill: var(--arb-illustration-shadow);
}
