.light .arb-link-panel-primary {
    background-color: var(--arb-accent-100);
}

.light .arb-link-panel-secondary {
    background-color: var(--arb-success-300);
}

.light .arb-link-panel-tertiary {
    background-color: var(--arb-brand-peach-100);
}

.dark .arb-link-panel-primary .aksel-link-card__title {
    color: var(--arb-accent-200);
}

.dark .arb-link-panel-secondary .aksel-link-card__title {
    color: var(--arb-success-300);
}

.dark .arb-link-panel-tertiary .aksel-link-card__title {
    color: var(--arb-brand-peach-300);
}
