.arb-panel-primary,
.arb-panel-secondary,
.arb-panel-tertiary {
  padding: var(--ax-space-24) !important;
}

.arb-panel-primary {
  background-color: var(--a-surface-alt-1);
}

.arb-panel-secondary {
  background-color: var(--arb-link-panel-secondary-bg);
}

.arb-panel-tertiary {
  background-color: var(--arb-link-panel-tertiary-bg);
}
