.arb-skip-link {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    clip: rect(1px, 1px, 1px, 1px);
    background: var(--ax-bg-accent-strong);
    color: var(--ax-text-contrast);
}

.arb-skip-link:focus,
.arb-skip-link:active {
    text-align: center;
    margin: auto;
    clip: auto;
    padding: var(--ax-space-24);
    z-index: 999;
    text-decoration: underline;
}

.arb-skip-link:focus:hover,
.arb-skip-link:active:hover {
    text-decoration: none;
}
