.arb-skip-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    clip: rect(1px, 1px, 1px, 1px);
}

.arb-skip-link:focus,
.arb-skip-link:active {
    text-align: center;
    margin: auto;
    clip: auto;
    outline: none;
    padding: var(--a-spacing-6);
    z-index: 999;
    text-decoration: underline;
}

.arb-skip-link:focus:hover,
.arb-skip-link:active:hover {
    text-decoration: none;
}
