.mb-0 {
    margin-bottom: var(--ax-space-0) !important;
}

.mb-05 {
    margin-bottom: var(--ax-space-2) !important;
}

.mb-1 {
    margin-bottom: var(--ax-space-4) !important;
}

.mb-2 {
    margin-bottom: var(--ax-space-8) !important;
}

.mb-3 {
    margin-bottom: var(--ax-space-12) !important;
}

.mb-4 {
    margin-bottom: var(--ax-space-16) !important;
}

.mb-5 {
    margin-bottom: var(--ax-space-20) !important;
}

.mb-6 {
    margin-bottom: var(--ax-space-24) !important;
}

.mb-7 {
    margin-bottom: var(--ax-space-28) !important;
}

.mb-8 {
    margin-bottom: var(--ax-space-32) !important;
}

.mb-9 {
    margin-bottom: var(--ax-space-36) !important;
}

.mb-10 {
    margin-bottom: var(--ax-space-40) !important;
}

.mb-11 {
    margin-bottom: var(--ax-space-44) !important;
}

.mb-12 {
    margin-bottom: var(--ax-space-48) !important;
}

.mb-14 {
    margin-bottom: var(--ax-space-56) !important;
}

.mb-16 {
    margin-bottom: var(--ax-space-64) !important;
}

.mb-18 {
    margin-bottom: var(--ax-space-72) !important;
}

.mb-20 {
    margin-bottom: var(--ax-space-80) !important;
}

.mb-24 {
    margin-bottom: var(--ax-space-96) !important;
}

.mb-32 {
    margin-bottom: var(--ax-space-128) !important;
}

.mt-0 {
    margin-top: var(--ax-space-0) !important;
}

.mt-05 {
    margin-top: var(--ax-space-2) !important;
}

.mt-1 {
    margin-top: var(--ax-space-4) !important;
}

.mt-2 {
    margin-top: var(--ax-space-8) !important;
}

.mt-3 {
    margin-top: var(--ax-space-12) !important;
}

.mt-4 {
    margin-top: var(--ax-space-16) !important;
}

.mt-5 {
    margin-top: var(--ax-space-20) !important;
}

.mt-6 {
    margin-top: var(--ax-space-24) !important;
}

.mt-7 {
    margin-top: var(--ax-space-28) !important;
}

.mt-8 {
    margin-top: var(--ax-space-32) !important;
}

.mt-9 {
    margin-top: var(--ax-space-36) !important;
}

.mt-10 {
    margin-top: var(--ax-space-40) !important;
}

.mt-11 {
    margin-top: var(--ax-space-44) !important;
}

.mt-12 {
    margin-top: var(--ax-space-48) !important;
}

.mt-14 {
    margin-top: var(--ax-space-56) !important;
}

.mt-16 {
    margin-top: var(--ax-space-64) !important;
}

.mt-18 {
    margin-top: var(--ax-space-72) !important;
}

.mt-20 {
    margin-top: var(--ax-space-80) !important;
}

.mt-24 {
    margin-top: var(--ax-space-96) !important;
}

.mt-32 {
    margin-top: var(--ax-space-128) !important;
}
