.mb-0 {
    margin-bottom: var(--a-spacing-0) !important;
}

.mb-05 {
    margin-bottom: var(--a-spacing-05) !important;
}

.mb-1 {
    margin-bottom: var(--a-spacing-1) !important;
}

.mb-2 {
    margin-bottom: var(--a-spacing-2) !important;
}

.mb-3 {
    margin-bottom: var(--a-spacing-3) !important;
}

.mb-4 {
    margin-bottom: var(--a-spacing-4) !important;
}

.mb-5 {
    margin-bottom: var(--a-spacing-5) !important;
}

.mb-6 {
    margin-bottom: var(--a-spacing-6) !important;
}

.mb-7 {
    margin-bottom: var(--a-spacing-7) !important;
}

.mb-8 {
    margin-bottom: var(--a-spacing-8) !important;
}

.mb-9 {
    margin-bottom: var(--a-spacing-9) !important;
}

.mb-10 {
    margin-bottom: var(--a-spacing-10) !important;
}

.mb-11 {
    margin-bottom: var(--a-spacing-11) !important;
}

.mb-12 {
    margin-bottom: var(--a-spacing-12) !important;
}

.mb-14 {
    margin-bottom: var(--a-spacing-14) !important;
}

.mb-16 {
    margin-bottom: var(--a-spacing-16) !important;
}

.mb-18 {
    margin-bottom: var(--a-spacing-18) !important;
}

.mb-20 {
    margin-bottom: var(--a-spacing-20) !important;
}

.mb-24 {
    margin-bottom: var(--a-spacing-24) !important;
}

.mb-32 {
    margin-bottom: var(--a-spacing-32) !important;
}

.mt-0 {
    margin-top: var(--a-spacing-0) !important;
}

.mt-05 {
    margin-top: var(--a-spacing-05) !important;
}

.mt-1 {
    margin-top: var(--a-spacing-1) !important;
}

.mt-2 {
    margin-top: var(--a-spacing-2) !important;
}

.mt-3 {
    margin-top: var(--a-spacing-3) !important;
}

.mt-4 {
    margin-top: var(--a-spacing-4) !important;
}

.mt-5 {
    margin-top: var(--a-spacing-5) !important;
}

.mt-6 {
    margin-top: var(--a-spacing-6) !important;
}

.mt-7 {
    margin-top: var(--a-spacing-7) !important;
}

.mt-8 {
    margin-top: var(--a-spacing-8) !important;
}

.mt-9 {
    margin-top: var(--a-spacing-9) !important;
}

.mt-10 {
    margin-top: var(--a-spacing-10) !important;
}

.mt-11 {
    margin-top: var(--a-spacing-11) !important;
}

.mt-12 {
    margin-top: var(--a-spacing-12) !important;
}

.mt-14 {
    margin-top: var(--a-spacing-14) !important;
}

.mt-16 {
    margin-top: var(--a-spacing-16) !important;
}

.mt-18 {
    margin-top: var(--a-spacing-18) !important;
}

.mt-20 {
    margin-top: var(--a-spacing-20) !important;
}

.mt-24 {
    margin-top: var(--a-spacing-24) !important;
}

.mt-32 {
    margin-top: var(--a-spacing-32) !important;
}
