[data-theme="arbeidsplassen"] {
  /* Font */
  --a-font-family: "Inter", sans-serif;

  /* Text */
  --a-font-size-medium: 0.875rem;
  --a-font-size-large: 1rem;
  --a-font-size-xlarge: 1.5rem;
  --a-font-line-height-xlarge: 1.5;

  /* Heading */
  --a-font-size-heading-xsmall: 1rem;
  --a-font-size-heading-small: 1.25rem;
  --a-font-size-heading-medium: 1.5rem;
  --a-font-size-heading-large: 2rem;
  --a-font-size-heading-xlarge: 3rem;
  --a-font-size-heading-2xlarge: 4rem;
  --a-font-line-height-heading-xsmall: 1.5;
  --a-font-line-height-heading-small: 1.4;
  --a-font-line-height-heading-medium: 1.33;
  --a-font-line-height-heading-large: 1.25;
  --a-font-line-height-heading-xlarge: 1.2;
  --a-font-line-height-heading-2xlarge: 1.17;

  /* Heading mobile */
  --a-font-size-heading-xsmall-mobile: 1rem;
  --a-font-size-heading-small-mobile: 1.25rem;
  --a-font-size-heading-medium-mobile: 1.375rem;
  --a-font-size-heading-large-mobile: 1.75rem;
  --a-font-size-heading-xlarge-mobile: 2.25rem;
  --a-font-size-heading-2xlarge-mobile: 2.75rem;
  --a-font-line-height-heading-xsmall-mobile: 1.5;
  --a-font-line-height-heading-small-mobile: 1.4;
  --a-font-line-height-heading-medium-mobile: 1.33;
  --a-font-line-height-heading-large-mobile: 1.25;
  --a-font-line-height-heading-xlarge-mobile: 1.2;
  --a-font-line-height-heading-2xlarge-mobile: 1.17;

  /* Background */
  --a-bg-default: var(--arb-white);
  --a-bg-subtle: var(--arb-gray-100);

  /* Surface */
  --a-surface-default: var(--arb-white);
  --a-surface-hover: var(--arb-grayalpha-50);
  --a-surface-active: var(--arb-grayalpha-100);
  --a-surface-selected: var(--arb-blue-50);
  --a-surface-subtle: var(--arb-gray-400);
  --a-surface-transparent: var(--arb-transparent);
  --a-surface-backdrop: var(--arb-grayalpha-700);
  --a-surface-inverted-hover: var(--arb-gray-800);
  --a-surface-inverted-active: var(--arb-gray-700);
  --a-surface-inverted: var(--arb-gray-900);
  --a-surface-action-subtle: var(--arb-blue-50);
  --a-surface-action-subtle-hover: var(--arb-blue-50);
  --a-surface-action: var(--arb-blue-500);
  --a-surface-action-hover: var(--arb-blue-600);
  --a-surface-action-active: var(--arb-blue-800);
  --a-surface-action-selected: var(--arb-blue-800);
  --a-surface-action-selected-hover: rgba(0, 80, 119, 1); /*todo*/
  --a-surface-neutral-subtle: rgba(0, 0, 0, 0.05); /*todo var*/
  --a-surface-neutral-subtle-hover: var(--arb-grayalpha-200);
  --a-surface-neutral: var(--arb-gray-600);
  --a-surface-neutral-hover: var(--arb-gray-700);
  --a-surface-neutral-selected: var(--arb-gray-700);
  --a-surface-success-subtle: var(--arb-green-50);
  --a-surface-success-subtle-hover: var(--arb-green-100);
  --a-surface-success: var(--arb-green-500);
  --a-surface-success-hover: var(--arb-green-600);
  --a-surface-danger-subtle: var(--arb-red-50);
  --a-surface-danger-subtle-hover: var(--arb-red-100);
  --a-surface-danger: var(--arb-red-500);
  --a-surface-danger-hover: var(--arb-red-600);
  --a-surface-danger-active: var(--arb-red-700);
  --a-surface-warning-subtle: var(--arb-orange-50);
  --a-surface-warning: var(--arb-orange-500);
  --a-surface-warning-subtle-hover: var(--arb-orange-100);
  --a-surface-info-subtle: rgba(235, 252, 255, 1); /*todo*/
  --a-surface-info-subtle-hover: rgba(216, 249, 255, 1); /*todo*/
  --a-surface-info: rgba(102, 203, 236, 1); /*todo*/
  --a-surface-alt-1: rgba(130, 105, 162, 1); /*todo*/
  --a-surface-alt-1-subtle: rgba(239, 236, 244, 1); /*todo*/
  --a-surface-alt-2: rgba(193, 203, 51, 1); /*todo*/
  --a-surface-alt-2-subtle: rgba(253, 255, 230, 1); /*todo*/
  --a-surface-alt-3: rgba(0, 91, 130, 1); /*todo*/
  --a-surface-alt-3-subtle: rgba(230, 241, 248, 1); /*todo*/
  --a-surface-alt-3-strong: rgba(0, 52, 83, 1); /*todo*/

  /* Text colors */
  --a-text-default: var(--arb-green-800);
  --a-text-subtle: var(--arb-grayalpha-600);
  --a-text-visited: rgba(99, 70, 137, 1); /*todo*/
  --a-text-danger: var(--arb-red-500);
  --a-text-action: var(--arb-blue-500);
  --a-text-action-selected: var(--arb-blue-800);
  --a-text-action-on-action-subtle: var(--arb-blue-500);
  --a-text-on-inverted: var(--arb-white);
  --a-text-on-neutral: var(--arb-white);
  --a-text-on-action: var(--arb-white);
  --a-text-on-success: var(--arb-green-900);
  --a-text-on-danger: var(--arb-white);
  --a-text-on-warning: var(--arb-gray-900);
  --a-text-on-info: var(--arb-gray-900);
  --a-text-on-alt-1: var(--arb-white);
  --a-text-on-alt-2: var(--arb-gray-900);
  --a-text-on-alt-3: var(--arb-white);

  /* Border colors */
  --a-border-default: var(--arb-grayalpha-500);
  --a-border-strong: var(--arb-grayalpha-600);
  --a-border-divider: var(--arb-grayalpha-300);
  --a-border-subtle: var(--arb-grayalpha-200);
  --a-border-subtle-hover: var(--arb-grayalpha-300);
  --a-border-action: var(--arb-blue-500);
  --a-border-action-selected: var(--arb-blue-800);
  --a-border-selected: var(--arb-blue-500);
  --a-border-success: var(--arb-green-500);
  --a-border-danger: var(--arb-red-500);
  --a-border-warning: var(--arb-orange-600);
  --a-border-info: rgba(54, 141, 168, 1); /*todo*/
  --a-border-on-inverted: var(--arb-gray-200);
  --a-border-on-inverted-subtle: var(--arb-gray-700);
  --a-border-focus: var(--arb-blue-900);
  --a-border-focus-on-inverted: var(--arb-blue-200);
  --a-border-alt-1: rgba(130, 105, 162, 1); /*todo*/
  --a-border-alt-2: rgba(193, 203, 51, 1); /*todo*/
  --a-border-alt-3: rgba(0, 91, 130, 1); /*todo*/

  /* Icons */
  --a-icon-info: var(--arb-blue-400);
  --a-icon-success: var(--arb-green-600);
  --a-icon-warning: var(--arb-orange-500);
  --a-icon-danger: var(--arb-red-500);

  /* Remove all shadows */
  --a-shadow-xlarge: none;
  --a-shadow-large: none;
  --a-shadow-medium: none;
  --a-shadow-small: none;
  --a-shadow-xsmall: none;

  /* TextField */
  --ac-textfield-border: var(--arb-blue-900);

  /* Textarea */
  --ac-textarea-border: var(--arb-blue-900);

  /* Select */
  --ac-select-border: var(--arb-blue-900);

  /* Chips toogle */
  --ac-chip-toggle-text: var(--arb-blue-500);
  --ac-chip-toggle-pressed-bg: var(--arb-green-700);
  --ac-chip-toggle-pressed-text: var(--arb-green-200);
  --ac-chip-toggle-pressed-hover-bg: var(--arb-green-800);
  --ac-chip-toggle-border: var(--arb-blue-500);
  --ac-chip-toggle-hover-bg: var(--arb-blue-50);
  --ac-chip-toggle-hover-border: var(--arb-blue-500);
  --ac-chip-toggle-hover-text: var(--arb-blue-50);
  --ac-chip-toggle-bg: var(--arb-white);

  /* Chips removable */
  --ac-chip-removable-action-bg: var(--arb-green-700);
  --ac-chip-removable-action-text: var(--arb-green-200);
  --ac-chip-removable-action-hover-bg: var(--arb-green-800);

  --ac-chip-removable-neutral-bg: var(--arb-white);
  --ac-chip-removable-neutral-text: var(--arb-blue-500);
  --ac-chip-removable-neutral-border: var(--arb-blue-500);
  --ac-chip-removable-neutral-hover-border: var(--arb-blue-500);
  --ac-chip-removable-neutral-hover-bg: var(--arb-blue-50);

  /* Accordion */
  --ac-accordion-header-border: var(--arb-green-300);
  --ac-accordion-header-bg-hover: var(--arb-blue-50);
  --ac-accordion-header-icon-bg-hover: var(--arb-blue-100);

  /* Link panel */
  --ac-link-panel-hover-text: currentColor;
  --ac-link-panel-hover-border: var(--arb-blue-700);

  /* Guide panel */
  --ac-guide-panel-border: var(--arb-green-400);

  /* Tabs */
  --ac-tabs-selected-border: var(--arb-green-400);

  /* ReadMore */
  --ac-read-more-line: var(--arb-green-200);

  /* Alert */
  --ac-alert-info-bg: var(--arb-blue-100);
  --ac-alert-info-border: var(--arb-blue-100);
  --ac-alert-success-bg: var(--arb-green-200);
  --ac-alert-success-border: var(--arb-green-200);
  --ac-alert-warning-bg: var(--arb-orange-100);
  --ac-alert-warning-border: var(--arb-orange-100);
  --ac-alert-error-bg: var(--arb-red-100);
  --ac-alert-error-border: var(--arb-red-100);

  /* Tag */
  --ac-tag-info-bg: var(--arb-blue-50);
  --ac-tag-info-text: var(--arb-green-800);
  --ac-tag-info-border: var(--arb-blue-200);
  --ac-tag-success-bg: var(--arb-green-100);
  --ac-tag-success-text: var(--arb-green-800);
  --ac-tag-success-border: var(--arb-green-400);
  --ac-tag-warning-bg: var(--arb-orange-50);
  --ac-tag-warning-text: var(--arb-green-800);
  --ac-tag-warning-border: var(--arb-orange-300);
  --ac-tag-error-bg: var(--arb-red-50);
  --ac-tag-error-text: var(--arb-green-800);
  --ac-tag-error-border: var(--arb-red-200);
  --ac-tag-neutral-bg: var(--arb-gray-50);
  --ac-tag-neutral-text: var(--arb-green-800);
  --ac-tag-neutral-border: var(--arb-gray-300);
  --ac-tag-info-filled-bg: var(--arb-blue-100);
  --ac-tag-info-filled-text: var(--arb-green-800);
  --ac-tag-success-filled-bg: var(--arb-green-200);
  --ac-tag-success-filled-text: var(--arb-green-800);
  --ac-tag-warning-filled-bg: var(--arb-orange-100);
  --ac-tag-warning-filled-text: var(--arb-green-800);
  --ac-tag-error-filled-bg: var(--arb-red-100);
  --ac-tag-error-filled-text: var(--arb-green-800);
  --ac-tag-neutral-filled-bg: var(--arb-gray-200);
  --ac-tag-neutral-filled-text: var(--arb-gray-700);

  /* Stepper */
  --ac-stepper-line: var(--arb-gray-200);
  --ac-stepper-line-completed: var(--arb-blue-300);
  --ac-stepper-non-interactive: var(--arb-gray-700);
  --ac-stepper-non-interactive-active: var(--arb-green-700);
  --ac-stepper-non-interactive-active-bg: var(--arb-green-700);
  --ac-stepper-non-interactive-active-border: var(--arb-green-700);

  /* Custom */
  --arb-surface-primary: var(--arb-green-200);
  --arb-text-on-primary: var(--arb-green-700);
  --arb-surface-primary-solid: var(--arb-green-700);
  --arb-text-on-primary-solid: var(--arb-green-200);
  --arb-surface-secondary: var(--arb-blue-50);
  --arb-text-on-secondary: var(--arb-green-700);
  --arb-surface-tertiary: var(--arb-peach-100);
  --arb-text-on-tertiary: var(--arb-green-700);
}

/**********************
 * Heading
 *********************/
.navds-heading--2xlarge,
.navds-heading--xlarge,
.navds-heading--large,
.navds-heading--medium {
  font-weight: 700 !important;
}

.navds-heading--2xlarge {
  letter-spacing: -0.05em !important;
}

.navds-heading--xlarge {
  letter-spacing: -0.05em !important;
}

.navds-heading--large {
  letter-spacing: -0.03em !important;
}

.navds-heading--medium {
  letter-spacing: -0.02em !important;
}

.navds-heading--small {
  letter-spacing: -0.01em !important;
}

.navds-heading--xsmall {
  letter-spacing: -0.01em !important;
}

/**********************
 * Button
 *********************/
.navds-button {
  border-radius: 0.375rem !important;
}

.navds-button:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  border-radius: var(--a-border-radius-full) !important;
  padding: 0.75rem 1.5rem !important;
}

.navds-button--small:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  padding: 0.5rem 1rem !important;
}

.navds-button--xsmall:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  padding: 0.375rem 1rem !important;
}

/**********************
 * Chips
 *********************/
.navds-chips__chip {
  font-weight: 600 !important;
  border-bottom-right-radius: 0 !important;
}

/**********************
 * Tag
 *********************/
.navds-tag {
  font-weight: 600 !important;
  border-radius: var(--a-border-radius-full) !important;
  border-bottom-right-radius: 0 !important;
}

.navds-tag--medium {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.navds-tag--small,
.navds-tag--xsmall {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

/**********************
 * Alert
 *********************/
.navds-alert:not(.navds-alert--full-width) {
  border-radius: 0.375rem !important;
}

/**********************
 * ConfirmationPanel
 *********************/
.navds-confirmation-panel__inner {
  border-radius: 0.375rem !important;
}

/**********************
 * Form fields
 *********************/
.navds-text-field__input:not(.navds-search__input--primary),
.navds-select__input,
.navds-textarea__input {
  border-radius: 0.5rem !important;
}

.navds-search__input--primary {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.navds-search__button-search {
  border-radius: 0 0.5rem 0.5rem 0 !important;
}

.navds-checkbox__label::before {
  border-radius: 0.375rem !important;
}
