.ads-button {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: "Source Sans Pro", Arial, sans-serif;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
    border-width: 3px;
    border-style: solid;
    background: none;
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .ads-button {
        padding: 0.5rem 1.25rem;
    }
}

.ads-button > svg {
    margin-right: 0.5rem;
}

.ads-button:focus {
    outline: 3px solid transparent;
    box-shadow: 0 0 0 3px #062140;
    background-color: #fbd8e7;
    border-color: #8c368e;
    color: #8c368e;
}

.ads-button--primary {
    background-color: #8c368e;
    border-color: #8c368e;
    color: #fff;
}

.ads-button:hover {
    background-color: #fbd8e7;
    border-color: #8c368e;
    color: #8c368e;
}

.ads-button--secondary {
    background-color: #fff;
    border-color: #8c368e;
    color: #8c368e;
}

.ads-button--flat {
    background-color: #fff;
    border-color: #fff;
    color: #8c368e;
}

.ads-button:disabled {
    cursor: not-allowed;
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.ads-button:disabled:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}