@import "../index.css";
@import "./colors/colors.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--primary-100);
}

._doc-color-bubble {
  padding: 1.5rem 1.75rem;
  margin: 0 0 1rem 0;
  border-top-left-radius: 220px;
  border-top-right-radius: 220px;
  border-bottom-left-radius: 220px;
}

._doc-flex {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

._doc-grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

._doc-grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
