.dsa-list {
    margin-top: 0;
    margin-bottom: 0;
}

.dsa-list:not(:last-child) {
    margin-bottom: 1rem;
}

.dsa-list li {
    line-height: 1.5;
}

.dsa-list li:not(:last-child) {
    margin: 0 0 calc(var(--gutter) * 0.5) 0;
}
