.dsa-link-button {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 5rem;
    padding: var(--button-padding);
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background-color: var(--secondary-60);
    border-color: var(--secondary-60);
    color: #fff;
    text-decoration: underline;
}

.dsa-link-button:hover {
    text-decoration: none;
}

.dsa-link-button:focus {
    outline: 2px solid var(--secondary-60);
    outline-offset: 2px;
}
