.arb-push-footer-down {
  min-height: 100%;
  margin-bottom: -794px;
  padding-bottom: 794px;
}

@media (min-width: 960px) {
  .arb-push-footer-down {
    margin-bottom: -476px;
    padding-bottom: 476px;
  }
}

.arb-footer {
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: var(--arb-surface-primary);
  line-height: 1.5;
}

@media (min-width: 960px) {
  .arb-footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.arb-footer-sections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem 5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 960px) {
  .arb-footer-sections {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
}

.arb-footer-h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;
  color: var(--arb-text-on-primary);
}

@media (min-width: 960px) {
  .arb-footer-h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.arb-footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.arb-footer-section ul li a {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--arb-text-on-primary);
}

.arb-footer-section ul li a:hover {
  text-decoration: none;
}

.arb-footer-section ul li a:focus {
  outline: none;
  color: #fff;
  background: var(--a-border-focus);
}

.arb-footer-bottom {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media (min-width: 960px) {
  .arb-footer-bottom {
    align-items: center;
  }
}

.arb-footer-logo {
  margin: 0;
  display: inline-flex;
  height: 40px;
}

.arb-footer-logo-bg {
  fill: var(--arb-green-800);
}

.arb-footer-logo-text {
  fill: var(--arb-text-on-primary-solid);
}

.arb-footer-logo:focus {
  outline: 3px solid var(--a-border-focus);
}

.arb-footer-p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--arb-text-on-primary);
}
