.dsa-container {
    padding: 0 var(--gutter);
    width: 100%;
}

.dsa-container-primary-color {
    background-color: var(--primary-20);
}

.dsa-container-secondary-color {
    background-color: var(--secondary-20);
}

.dsa-container-tertiary-color {
    background-color: var(--tertiary-10);
}

.dsa-container-inner {
    margin-left: auto;
    margin-right: auto;
}

.dsa-container-inner-xlarge {
    max-width: 1272px;
}

.dsa-container-inner-large {
    max-width: 960px;
}

.dsa-container-inner-medium {
    max-width: 670px;
}
