:root {
    --ax-font-family: "Inter", sans-serif;
}

.light {
    --ax-text-neutral: var(--arb-brand-green-900);
}

/******************************************************
* Arbeidsplassen colors
******************************************************/
:root {
    --arb-brand-blue-100: #e3e6f7;
    --arb-brand-blue-200: #c6cdf5;
    --arb-brand-blue-300: #90a1ee;
    --arb-brand-blue-400: #647be8;
    --arb-brand-blue-500: #3856e1;
    --arb-brand-blue-600: #1e3cc7;
    --arb-brand-blue-700: #1a34af;
    --arb-brand-blue-800: #172d98;
    --arb-brand-blue-900: #252a76;
    --arb-brand-blue-1000: #0c1852;

    --arb-brand-green-100: #effcf3;
    --arb-brand-green-200: #dff8ec;
    --arb-brand-green-300: #c1f3db;
    --arb-brand-green-400: #8fcfbd;
    --arb-brand-green-500: #60c7ae;
    --arb-brand-green-600: #03b0a4;
    --arb-brand-green-700: #028088;
    --arb-brand-green-800: #024b62;
    --arb-brand-green-900: #003141;
    --arb-brand-green-1000: #081d27;

    --arb-brand-peach-100: #fff1e8;
    --arb-brand-peach-200: #ffeadd;
    --arb-brand-peach-300: #ffc7b7;
    --arb-brand-peach-400: #ffaf96;
    --arb-brand-peach-500: #cd6148;

    --arb-brand-pink-400: #f7eeff;

    --arb-dark-mode-shade-200: #172b34; /* todo */
}