:root {
    --ax-font-family: "Inter", sans-serif;
}

/******************************************************
* Arbeidsplassen colors
******************************************************/
:root {
    --arb-neutral-000: #ffffff;
    --arb-neutral-100: #f8f8f8;
    --arb-neutral-200: #ebebeb;
    --arb-neutral-300: #dddddd;
    --arb-neutral-400: #c3c3c3;
    --arb-neutral-500: #a8a8a8;
    --arb-neutral-600: #8d8d8d;
    --arb-neutral-700: #808080;
    --arb-neutral-800: #575757;
    --arb-neutral-900: #4a4a4a;
    --arb-neutral-1000: #404040;
    --arb-neutral-100A: rgba(0, 0, 0, 0.03);
    --arb-neutral-200A: rgba(0, 0, 0, 0.05);
    --arb-neutral-300A: rgba(0, 0, 0, 0.1);
    --arb-neutral-400A: rgba(0, 0, 0, 0.19);

    --arb-accent-100: #e3e6f7;
    --arb-accent-200: #c6cdf5;
    --arb-accent-300: #90a1ee;
    --arb-accent-400: #647be8;
    --arb-accent-500: #3856e1;
    --arb-accent-600: #1e3cc7;
    --arb-accent-700: #1a34af;
    --arb-accent-800: #172d98;
    --arb-accent-900: #252a76;
    --arb-accent-1000: #0c1852;

    --arb-success-100: #effcf3;
    --arb-success-200: #dff8ec;
    --arb-success-300: #c1f3db;
    --arb-success-400: #8fcfbd;
    --arb-success-500: #60c7ae;
    --arb-success-600: #03b0a4;
    --arb-success-700: #028088;
    --arb-success-800: #024b62;
    --arb-success-900: #003141;
    --arb-success-1000: #081d27;

    --arb-warning-100: #fff4de;
    --arb-warning-200: #ffe8ba;
    --arb-warning-300: #fcd483;
    --arb-warning-400: #f6c459;
    --arb-warning-500: #f7b839;
    --arb-warning-600: #eda215;
    --arb-warning-700: #cf8308;
    --arb-warning-800: #945b00;
    --arb-warning-900: #664106;
    --arb-warning-1000: #452d05;

    --arb-danger-100: #ffdfde;
    --arb-danger-200: #f7b7b5;
    --arb-danger-300: #e88987;
    --arb-danger-400: #d9625d;
    --arb-danger-500: #cf4942;
    --arb-danger-600: #b7342c;
    --arb-danger-700: #9e2821;
    --arb-danger-800: #7a1c17;
    --arb-danger-900: #571511;
    --arb-danger-1000: #3d0906;

    --arb-brand-peach-100: #fff1e8;
    --arb-brand-peach-200: #ffeadd;
    --arb-brand-peach-300: #ffc7b7;
    --arb-brand-peach-400: #ffaf96;
    --arb-brand-peach-500: #cd6148;

    --arb-dark-mode-shade-200: #172b34; /* todo */
    --arb-dark-mode-shade-1000: #dfe4e5; /* todo */
}

/******************************************************
* Theme overrides
******************************************************/
:root {
    --ax-radius-8: 6px;
    --ax-radius-12: 8px;
    --ax-border-radius-large: 6px; /* todo kan slettes etter at de ikke lengre er i bruk av Aksel */
    --ax-border-radius-xlarge: 8px; /* todo an slettes etter at de ikke lengre er i bruk av Aksel */
}

.light {
    --ax-text-neutral: var(--arb-success-900);
}

.dark {
    --ax-bg-default: var(--arb-success-1000);
    --ax-text-neutral: var(--arb-dark-mode-shade-1000);
}

.todo {
    --ax-neutral-000: var(--arb-neutral-000);
    --ax-neutral-100: var(--arb-neutral-100);
    --ax-neutral-200: var(--arb-neutral-200);
    --ax-neutral-300: var(--arb-neutral-300);
    --ax-neutral-400: var(--arb-neutral-400);
    --ax-neutral-500: var(--arb-neutral-500);
    --ax-neutral-600: var(--arb-neutral-600);
    --ax-neutral-700: var(--arb-neutral-700);
    --ax-neutral-800: var(--arb-neutral-800);
    --ax-neutral-900: var(--arb-neutral-900);
    --ax-neutral-1000: var(--arb-neutral-1000);
    --ax-neutral-100A: var(--arb-neutral-100A);
    --ax-neutral-200A: var(--arb-neutral-200A);
    --ax-neutral-300A: var(--arb-neutral-300A);
    --ax-neutral-400A: var(--arb-neutral-400A);

    --ax-accent-100: var(--arb-accent-100);
    --ax-accent-200: var(--arb-accent-200);
    --ax-accent-300: var(--arb-accent-300);
    --ax-accent-400: var(--arb-accent-400);
    --ax-accent-500: var(--arb-accent-500);
    --ax-accent-600: var(--arb-accent-600);
    --ax-accent-700: var(--arb-accent-700);
    --ax-accent-800: var(--arb-accent-800);
    --ax-accent-900: var(--arb-accent-900);
    --ax-accent-1000: var(--arb-accent-1000);
    --ax-accent-100A: rgba(0, 110, 255, 0.055); /*todo*/
    --ax-accent-200A: rgba(0, 95, 255, 0.106); /*todo*/
    --ax-accent-300A: rgba(1, 101, 244, 0.17); /*todo*/
    --ax-accent-400A: rgba(0, 100, 241, 0.27); /*todo*/

    --ax-success-100: var(--arb-success-100);
    --ax-success-200: var(--arb-success-200);
    --ax-success-300: var(--arb-success-300);
    --ax-success-400: var(--arb-success-400);
    --ax-success-500: var(--arb-success-500);
    --ax-success-600: var(--arb-success-600);
    --ax-success-700: var(--arb-success-700);
    --ax-success-800: var(--arb-success-800);
    --ax-success-900: var(--arb-success-900);
    --ax-success-1000: var(--arb-success-1000);
    --ax-success-100A: rgba(0, 238, 53, 0.114); /*todo*/
    --ax-success-200A: rgba(0, 201, 37, 0.165); /*todo*/
    --ax-success-300A: rgba(1, 178, 39, 0.23); /*todo*/
    --ax-success-400A: rgba(0, 162, 36, 0.34); /*todo*/

    --ax-warning-100: var(--arb-warning-100);
    --ax-warning-200: var(--arb-warning-200);
    --ax-warning-300: var(--arb-warning-300);
    --ax-warning-400: var(--arb-warning-400);
    --ax-warning-500: var(--arb-warning-500);
    --ax-warning-600: var(--arb-warning-600);
    --ax-warning-700: var(--arb-warning-700);
    --ax-warning-800: var(--arb-warning-800);
    --ax-warning-900: var(--arb-warning-900);
    --ax-warning-1000: var(--arb-warning-1000);
    --ax-warning-100A: rgba(255, 161, 0, 0.106); /*todo*/
    --ax-warning-200A: rgba(255, 164, 0, 0.22); /*todo*/
    --ax-warning-300A: rgba(255, 162, 1, 0.353); /*todo*/
    --ax-warning-400A: rgba(255, 163, 0, 0.565); /*todo*/

    --ax-danger-100: var(--arb-danger-100);
    --ax-danger-200: var(--arb-danger-200);
    --ax-danger-300: var(--arb-danger-300);
    --ax-danger-400: var(--arb-danger-400);
    --ax-danger-500: var(--arb-danger-500);
    --ax-danger-600: var(--arb-danger-600);
    --ax-danger-700: var(--arb-danger-700);
    --ax-danger-800: var(--arb-danger-800);
    --ax-danger-900: var(--arb-danger-900);
    --ax-danger-1000: var(--arb-danger-1000);
    --ax-danger-100A: rgba(255, 0, 99, 0.05); /*todo*/
    --ax-danger-200A: rgba(255, 0, 89, 0.09); /*todo*/
    --ax-danger-300A: rgba(255, 0, 88, 0.15); /*todo*/
    --ax-danger-400A: rgba(255, 0, 88, 0.24); /*todo*/

    --ax-info-100: var(--arb-accent-100);/*todo*/
    --ax-info-200: var(--arb-accent-200);/*todo*/
    --ax-info-300: var(--arb-accent-300);/*todo*/
    --ax-info-400: var(--arb-accent-400);/*todo*/
    --ax-info-500: var(--arb-accent-500);/*todo*/
    --ax-info-600: var(--arb-accent-600);/*todo*/
    --ax-info-700: var(--arb-accent-700);/*todo*/
    --ax-info-800: var(--arb-accent-800);/*todo*/
    --ax-info-900: var(--arb-accent-900);/*todo*/
    --ax-info-1000: var(--arb-accent-1000);/*todo*/
    --ax-info-100A: rgba(0, 120, 210, 0.067); /*todo*/
    --ax-info-200A: rgba(0, 110, 183, 0.11); /*todo*/
    --ax-info-300A: rgba(0, 96, 160, 0.157); /*todo*/
    --ax-info-400A: rgba(0, 90, 146, 0.247); /*todo*/
}
