:root {
  --arb-transparent: rgba(255, 255, 255, 0);
  --arb-grayalpha-50: rgba(0, 0, 0, 0.03);
  --arb-grayalpha-100: rgba(0, 0, 0, 0.05);
  --arb-grayalpha-200: rgba(0, 0, 0, 0.1);
  --arb-grayalpha-300: rgba(0, 0, 0, 0.19);
  --arb-grayalpha-400: rgba(0, 0, 0, 0.31);
  --arb-grayalpha-500: rgba(0, 0, 0, 0.44);
  --arb-grayalpha-600: rgba(0, 0, 0, 0.56);
  --arb-grayalpha-700: rgba(0, 0, 0, 0.65);
  --arb-grayalpha-800: rgba(0, 0, 0, 0.75);
  --arb-grayalpha-900: rgba(0, 0, 0, 0.85);
  --arb-whitealpha-50: rgba(255, 255, 255, 0.06);
  --arb-white: #ffffff;
  --arb-blue-50: #e3e6f7;
  --arb-blue-100: #c6cdf5;
  --arb-blue-200: #90a1ee;
  --arb-blue-300: #647be8;
  --arb-blue-400: #3856e1;
  --arb-blue-500: #1e3cc7;
  --arb-blue-600: #1a34af;
  --arb-blue-700: #172d98;
  --arb-blue-800: #252a76;
  --arb-blue-900: #0c1852;
  --arb-green-50: #effcf3;
  --arb-green-100: #dff8ec;
  --arb-green-200: #c1f3db;
  --arb-green-300: #8fcfbd;
  --arb-green-400: #60c7ae;
  --arb-green-500: #03b0a4;
  --arb-green-600: #028088;
  --arb-green-700: #024b62;
  --arb-green-800: #003141;
  --arb-green-900: #081d27;
  --arb-orange-50: #fff4de;
  --arb-orange-100: #ffe8ba;
  --arb-orange-200: #fcd483;
  --arb-orange-300: #f6c459;
  --arb-orange-400: #f7b839;
  --arb-orange-500: #eda215;
  --arb-orange-600: #cf8308;
  --arb-orange-700: #945b00;
  --arb-orange-800: #664106;
  --arb-orange-900: #452d05;
  --arb-red-50: #ffdfde;
  --arb-red-100: #f7b7b5;
  --arb-red-200: #e88987;
  --arb-red-300: #d9625d;
  --arb-red-400: #cf4942;
  --arb-red-500: #b7342c;
  --arb-red-600: #9e2821;
  --arb-red-700: #7a1c17;
  --arb-red-800: #571511;
  --arb-red-900: #3d0906;
  --arb-gray-50: #f8f8f8;
  --arb-gray-100: #ebebeb;
  --arb-gray-200: #dddddd;
  --arb-gray-300: #c3c3c3;
  --arb-gray-400: #a8a8a8;
  --arb-gray-500: #8d8d8d;
  --arb-gray-600: #808080;
  --arb-gray-700: #575757;
  --arb-gray-800: #4a4a4a;
  --arb-gray-900: #404040;
  --arb-peach-50: #fff1e8;
  --arb-peach-100: #ffeadd;
  --arb-peach-200: #ffc7b7;
  --arb-peach-300: #ffaf96;
  --arb-peach-400: #cd6148;

  --arb-dark-mode-shade-50: #122630;
  --arb-dark-mode-shade-100: #172b34;
  --arb-dark-mode-shade-200: #23363f;
  --arb-dark-mode-shade-300: #394a52;
  --arb-dark-mode-shade-400: #57656c;
  --arb-dark-mode-shade-500: #778388;
  --arb-dark-mode-shade-600: #929ba0;
  --arb-dark-mode-shade-700: #b5bbbe;
  --arb-dark-mode-shade-800: #d0d4d6;
  --arb-dark-mode-shade-900: #dfe4e5;
}
