[data-theme="arbeidsplassen"] {
  --ax-font-family: "Inter", sans-serif;
  --ax-font-size-medium: 0.875rem;
  --ax-font-size-large: 1rem;
  --ax-font-size-xlarge: 1.5rem;
  --ax-font-line-height-xlarge: 1.5;
  --ax-font-size-heading-xsmall: 1rem;
  --ax-font-size-heading-small: 1.25rem;
  --ax-font-size-heading-medium: 1.5rem;
  --ax-font-size-heading-large: 1.75rem;
  --ax-font-size-heading-xlarge: 2rem;
  --ax-font-size-heading-2xlarge: 3rem;
  --ax-font-line-height-heading-xsmall: 1.5;
  --ax-font-line-height-heading-small: 1.4;
  --ax-font-line-height-heading-medium: 1.33;
  --ax-font-line-height-heading-large: 1.25;
  --ax-font-line-height-heading-xlarge: 1.2;
  --ax-font-line-height-heading-2xlarge: 1.2;

  --a-border-radius-small: 4px;
  --a-border-radius-medium: 6px;
}

/******************************************************
 * Heading overrides
 ******************************************************/
.aksel-heading--2xlarge,
.aksel-heading--xlarge,
.aksel-heading--large,
.aksel-heading--medium {
  font-weight: 700 !important;
}

.aksel-heading--small,
.aksel-heading--xsmall {
  font-weight: 600 !important;
}

.aksel-heading--2xlarge {
  letter-spacing: -0.03em !important;
}

.aksel-heading--xlarge {
  letter-spacing: -0.022em !important;
}

.aksel-heading--large {
  letter-spacing: -0.022em !important;
}

.aksel-heading--medium {
  letter-spacing: -0.019em !important;
}

.aksel-heading--small {
  letter-spacing: -0.017em !important;
}

.aksel-heading--xsmall {
  letter-spacing: -0.011em !important;
}

/******************************************************
 * Paragraph overrides
 ******************************************************/

.aksel-body-long,
.aksel-body-short {
  letter-spacing: -0.011em !important;
}

.aksel-body-long.aksel-body-long--small,
.aksel-body-short.aksel-body-short--small {
  letter-spacing: -0.006em !important;
}

.aksel-label {
  letter-spacing: -0.011em !important;
}

/******************************************************
 * Button overrides
 ******************************************************/
.aksel-button:not(
    .aksel-button--icon-only,
    .aksel-search__button-search,
    .aksel-date__field-button,
    .aksel-pagination__item,
    .arb-feedback-button
  ) {
  border-radius: var(--ax-border-radius-full) !important;
  padding: 0.75rem 1.5rem !important;
}

.aksel-button--small:not(
    .aksel-button--icon-only,
    .aksel-search__button-search,
    .aksel-date__field-button,
    .aksel-pagination__item
  ) {
  padding: 0.5rem 1rem !important;
}

.aksel-button--xsmall:not(
    .aksel-button--icon-only,
    .aksel-search__button-search,
    .aksel-date__field-button,
    .aksel-pagination__item
  ) {
  padding: 0.375rem 1rem !important;
}

/******************************************************
 * Chips overrides
 ******************************************************/
.navds-chips__chip {
  font-weight: 600 !important;
  font-size: 1rem !important;
  border-bottom-right-radius: 0 !important;
}

.navds-chips__removable--neutral:focus-visible {
  box-shadow: 0 0 0 3px var(--a-border-focus);
}

.navds-chips__toggle:focus-visible {
  box-shadow: 0 0 0 3px var(--a-border-focus);
}

/******************************************************
 * Combobox overrides
 ******************************************************/
.navds-combobox__input {
  background-color: var(--a-surface-default);
}

/******************************************************
 * Tag overrides
 ******************************************************/
.navds-tag {
  font-weight: 600 !important;
  border-radius: var(--a-border-radius-full) !important;
  border-bottom-right-radius: 0 !important;
}

.navds-tag--medium {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.navds-tag--small,
.navds-tag--xsmall {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

/******************************************************
 * Error overrides
 ******************************************************/
.navds-error-message.navds-error-message--show-icon svg {
  margin-top: 0.3em !important;
}
