@media (prefers-color-scheme: dark) {
    [data-use-preferred-color-scheme="true"] {
        color-scheme: dark;
        color: var(--a-text-default);
        background-color: var(--a-bg-default);
        -webkit-font-smoothing: antialiased;

        /******************************************************
   * Background colors
   ******************************************************/
        --a-bg-default: var(--arb-green-900);
        --a-bg-subtle: var(--arb-dark-mode-shade-100);

        /******************************************************
   * Surface colors
   ******************************************************/
        --a-surface-default: var(--arb-green-900);
        --a-surface-hover: var(--arb-whitealpha-50);
        --a-surface-active: var(--arb-whitealpha-100);
        --a-surface-selected: var(--arb-green-700);
        --a-surface-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-transparent: var(--arb-transparent);
        --a-surface-backdrop: var(--arb-grayalpha-700);
        --a-surface-inverted: var(--arb-dark-mode-shade-300);
        --a-surface-inverted-hover: var(--arb-dark-mode-shade-300);
        --a-surface-inverted-active: var(--arb-dark-mode-shade-300);

        --a-surface-action: var(--arb-blue-200);
        --a-surface-action-hover: var(--arb-blue-300);
        --a-surface-action-active: var(--arb-green-700);
        --a-surface-action-subtle: var(--arb-whitealpha-50);
        --a-surface-action-subtle-hover: var(--arb-whitealpha-50);
        --a-surface-action-selected: var(--arb-green-700);
        --a-surface-action-selected-hover: var(--arb-green-600);

        --a-surface-neutral: var(--arb-dark-mode-shade-200);
        --a-surface-neutral-moderate: var(--arb-dark-mode-shade-400);
        --a-surface-neutral-hover: var(--arb-whitealpha-50);
        --a-surface-neutral-selected: var(--arb-dark-mode-shade-400);
        --a-surface-neutral-active: var(--arb-dark-mode-shade-400);
        --a-surface-neutral-subtle: var(--arb-whitealpha-100);
        --a-surface-neutral-subtle-hover: var(--arb-whitealpha-50);

        --a-surface-success: var(--arb-green-400);
        --a-surface-success-moderate: var(--arb-green-200);
        --a-surface-success-hover: var(--arb-green-500);
        --a-surface-success-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-success-subtle-hover: var(--arb-green-300);

        --a-surface-danger: var(--arb-red-700);
        --a-surface-danger-moderate: var(--arb-red-200);
        --a-surface-danger-active: var(--arb-red-500);
        --a-surface-danger-hover: var(--arb-red-600);
        --a-surface-danger-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-danger-subtle-hover: var(--arb-red-200);

        --a-surface-warning: var(--arb-orange-300);
        --a-surface-warning-moderate: var(--arb-orange-200);
        --a-surface-warning-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-warning-subtle-hover: var(--arb-orange-200);

        --a-surface-info: var(--arb-blue-400);
        --a-surface-info-moderate: var(--arb-blue-100);
        --a-surface-info-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-info-subtle-hover: var(--arb-blue-200);

        --a-surface-alt-1-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-alt-1-moderate: var(--arb-dark-mode-shade-100);
        --a-surface-alt-1: var(--arb-dark-mode-shade-200);

        --a-surface-alt-2-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-alt-2-moderate: var(--arb-dark-mode-shade-100);
        --a-surface-alt-2: var(--arb-dark-mode-shade-200);

        --a-surface-alt-3-subtle: var(--arb-dark-mode-shade-100);
        --a-surface-alt-3-moderate: var(--arb-dark-mode-shade-100);
        --a-surface-alt-3: var(--arb-dark-mode-shade-200);

        /******************************************************
   * Text colors
   ******************************************************/
        --a-text-default: var(--arb-dark-mode-shade-900);
        --a-text-subtle: var(--arb-dark-mode-shade-600);
        --a-text-visited: var(--a-purple-300);
        --a-text-danger: var(--arb-red-300);

        --a-text-action: var(--arb-blue-200);
        --a-text-action-hover: var(--arb-white);
        --a-text-action-selected: var(--arb-green-500);
        --a-text-action-on-action-subtle: var(--arb-white);

        --a-text-on-inverted: var(--arb-white);
        --a-text-on-neutral: var(--arb-white);
        --a-text-on-action: var(--arb-white);
        --a-text-on-info: var(--arb-white);
        --a-text-on-success: var(--arb-green-800);
        --a-text-on-warning: var(--arb-green-800);
        --a-text-on-danger: var(--arb-white);
        --a-text-on-alt-1: var(--arb-white);
        --a-text-on-alt-2: var(--arb-white);
        --a-text-on-alt-3: var(--arb-white);

        /******************************************************
   * Border colors
   ******************************************************/
        --a-border-default: var(--arb-dark-mode-shade-700);
        --a-border-strong: var(--arb-dark-mode-shade-900);
        --a-border-divider: var(--arb-dark-mode-shade-200);
        --a-border-subtle: var(--arb-whitealpha-100);
        --a-border-subtle-hover: var(--arb-whitealpha-50);
        --a-border-on-inverted: var(--arb-gray-200);
        --a-border-on-inverted-subtle: var(--arb-gray-700);

        --a-border-action: var(--arb-blue-200);
        --a-border-action-hover: var(--arb-blue-200);
        --a-border-action-selected: var(--a-border-default);
        --a-border-selected: var(--a-border-default);

        --a-border-success: var(--arb-green-400);
        --a-border-danger: var(--arb-red-300);
        --a-border-warning: var(--arb-orange-400);
        --a-border-info: var(--arb-blue-300);

        --a-border-focus: var(--arb-dark-mode-shade-900);
        --a-border-focus-on-inverted: var(--arb-blue-200);

        --a-border-alt-1: var(--arb-dark-mode-shade-700);
        --a-border-alt-2: var(--arb-dark-mode-shade-700);
        --a-border-alt-3: var(--arb-dark-mode-shade-700);

        /*****************************************************
  * Focus
  ******************************************************/
        --a-shadow-focus: 0 0 0 3px var(--a-border-focus);

        /*****************************************************
  * Icon colors
  ******************************************************/
        --a-icon-default: var(--arb-dark-mode-shade-800);
        --a-icon-subtle: var(--arb-dark-mode-shade-600);
        --a-icon-success: var(--arb-green-400);
        --a-icon-danger: var(--arb-red-400);
        --a-icon-warning: var(--arb-orange-400);
        --a-icon-info: var(--arb-blue-200);
        --a-icon-alt-1: var(--arb-green-200);
        --a-icon-alt-2: var(--arb-blue-100);
        --a-icon-alt-3: var(--arb-peach-200);

        --a-icon-action: var(--arb-blue-200);
        --a-icon-action-hover: var(--arb-white);
        --a-icon-action-selected: var(--arb-green-500);
        --a-icon-action-on-action-subtle: var(--arb-white);

        --a-icon-on-neutral: var(--arb-white);
        --a-icon-on-action: var(--arb-white);
        --a-icon-on-success: var(--arb-green-800);
        --a-icon-on-danger: var(--arb-white);
        --a-icon-on-warning: var(--arb-green-800);
        --a-icon-on-info: var(--arb-white);
        --a-icon-on-inverted: var(--arb-white);

        /*****************************************************
  * Shadows
  ******************************************************/
        --a-shadow-xlarge:
            0px 10px 24px 0px rgba(0, 0, 0, 0.45), 0px 3px 5px 0px rgba(0, 0, 0, 0.35),
            0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset, 0px 0px 1px 0px rgba(255, 255, 255, 0.35) inset;
        --a-shadow-large:
            0px 10px 16px 0px rgba(0, 0, 0, 0.35), 0px 2px 5px 0px rgba(0, 0, 0, 0.35),
            0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset, 0px 0px 1px 0px rgba(255, 255, 255, 0.35) inset;
        --a-shadow-medium:
            0px 5px 12px 0px rgba(0, 0, 0, 0.35), 0px 1px 3px 0px rgba(0, 0, 0, 0.5),
            0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset, 0px 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
        --a-shadow-small:
            0px 3px 8px 0px rgba(0, 0, 0, 0.35), 0px 1px 3px 0px rgba(0, 0, 0, 0.5),
            0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset, 0px 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
        --a-shadow-xsmall:
            0px 0px 0.5px 0px rgba(0, 0, 0, 0.5), 0px 1px 3px 0px rgba(0, 0, 0, 0.5),
            0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 0px 1px 0px rgba(255, 255, 255, 0.3) inset;

        /*****************************************************
  * Custom components variables
  ******************************************************/

        /* Accordion */
        --ac-accordion-header-bg-hover: var(--arb-whitealpha-50);
        --ac-accordion-header-icon-bg-hover: var(--arb-whitealpha-50);
        --ac-accordion-header-border: var(--arb-transparent);
        --ac-accordion-neutral-item-bg-open: var(--arb-whitealpha-50);

        /* Alert */
        --ac-alert-info-border: var(--arb-blue-900);
        --ac-alert-info-bg: var(--arb-blue-900);
        --ac-alert-warning-border: var(--arb-orange-900);
        --ac-alert-warning-bg: var(--arb-orange-900);
        --ac-alert-error-border: var(--arb-red-900);
        --ac-alert-error-bg: var(--arb-red-900);
        --ac-alert-success-border: var(--arb-green-800);
        --ac-alert-success-bg: var(--arb-green-800);

        /* Button */
        --ac-button-primary-bg: var(--arb-blue-600);
        --ac-button-primary-hover-bg: var(--arb-blue-500);
        --ac-button-tertiary-neutral-hover-text: var(--arb-white);
        --ac-button-tertiary-focus-border: transparent;
        --ac-button-tertiary-neutral-focus-border: transparent;

        /* Chip */
        --ac-chip-toggle-bg: var(--arb-transparent);
        --ac-chip-toggle-text: var(--a-text-action);
        --ac-chip-toggle-hover-bg: var(--a-surface-action-subtle);
        --ac-chip-toggle-neutral-border: var(--arb-transparent);

        --ac-chip-removable-neutral-border: var(--a-border-action);
        --ac-chip-removable-neutral-bg: var(--arb-transparent);
        --ac-chip-removable-neutral-text: var(--a-text-action);
        --ac-chip-removable-neutral-hover-border: var(--a-text-action-on-action-subtle);
        --ac-chip-removable-neutral-hover-bg: var(--a-surface-action-subtle);

        /* Combobox */
        --ac-combobox-list-item-hover-bg: var(--arb-dark-mode-shade-100);
        --ac-combobox-list-item-selected-bg: var(--arb-dark-mode-shade-200);
        --ac-combobox-list-item-selected-hover-bg: var(--arb-dark-mode-shade-300);
        --ac-combobox-list-item-hover-border-left: var(--a-border-default);
        --ac-combobox-list-item-selected-hover-border-left: var(--arb-green-400);

        /* Link */
        --ac-link-active-bg: var(--a-border-focus);
        --ac-link-active-text: var(--arb-green-800);
        --ac-link-focus-text: var(--arb-green-800);

        /* Popover */
        --ac-popover-bg: var(--arb-dark-mode-shade-100);
        --ac-modal-bg: var(--arb-dark-mode-shade-100);
        --ac-modal-backdrop: var(--a-surface-backdrop);

        /* ReadMore */
        --ac-read-more-hover-bg: var(--arb-whitealpha-50);
        --ac-read-more-line: var(--arb-green-400);

        /* Stepper */
        --ac-stepper-non-interactive-line-completed: var(--arb-dark-mode-shade-600);
        --ac-stepper-line: var(--a-border-subtle);
        --ac-stepper-line-completed: var(--arb-blue-300);
        --ac-stepper-active-border: var(--a-surface-action-selected);
        --ac-stepper-text: var(--arb-blue-600);

        /* Progress bar */
        --ac-progress-bar-fg: var(--arb-green-600);

        /* Switch */
        --ac-switch-action: var(--a-text-action);
        --ac-switch-bg: var(--a-surface-neutral);
        --ac-switch-hover-bg: var(--a-surface-neutral);
        --ac-switch-checked-bg: var(--arb-green-600);
        --ac-switch-checked-hover-bg: var(--arb-green-600);
        --ac-switch-thumb-bg: var(--arb-dark-mode-shade-900);
        --ac-switch-thumb-icon: var(--arb-grayalpha-500);
        --ac-switch-thumb-icon-checked: var(--arb-green-600);

        /* Table */
        --a-table-sort-button-sorted-text: var(--a-text-on-action);

        /* Tabs */
        --ac-tabs-selected-border: var(--arb-green-400);
        --ac-tabs-hover-border: var(--a-border-subtle);

        /* Tag */
        --ac-tag-info-moderate-text: var(--arb-green-900);
        --ac-tag-success-moderate-text: var(--arb-green-900);
        --ac-tag-warning-moderate-text: var(--arb-green-900);
        --ac-tag-error-moderate-text: var(--arb-green-900);

        --ac-tag-alt-1-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-1-moderate-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-1-filled-bg: var(--arb-whitealpha-100);

        --ac-tag-alt-2-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-2-moderate-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-2-filled-bg: var(--arb-whitealpha-100);

        --ac-tag-alt-3-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-3-moderate-bg: var(--arb-whitealpha-50);
        --ac-tag-alt-3-filled-bg: var(--arb-whitealpha-100);

        /*****************************************************
    * Arbeidsplassen specific variables
    ******************************************************/
        --arb-border: var(--arb-green-600);
        --arb-border-moderate: var(--arb-green-400);
        --arb-border-subtle: var(--arb-green-200);

        --arb-footer-bg: var(--arb-dark-mode-shade-100);
        --arb-footer-text: var(--a-text-default);
        --arb-footer-focus-text: var(--arb-green-800);

        --arb-illustration-arms-and-legs: var(--arb-green-600);
        --arb-illustration-face: var(--arb-green-700);
        --arb-illustration-items: var(--arb-green-600);
        --arb-illustration-shadow: var(--arb-whitealpha-50);

        --arb-link-panel-description-on-color: var(--a-text-default);
        --arb-link-panel-primary-bg: var(--arb-dark-mode-shade-100);
        --arb-link-panel-primary-text: var(--arb-green-200);
        --arb-link-panel-secondary-bg: var(--arb-dark-mode-shade-100);
        --arb-link-panel-secondary-text: var(--arb-blue-100);
        --arb-link-panel-tertiary-bg: var(--arb-dark-mode-shade-100);
        --arb-link-panel-tertiary-text: var(--arb-peach-200);

        --arb-logo-bg: var(--arb-green-800);
        --arb-logo-letters: var(--arb-green-200);
        --arb-logo-inverted-bg: var(--arb-green-200);
        --arb-logo-inverted-letters: var(--arb-green-800);
    }
}
