.dsa-panel {
    padding: 1rem;
}

.dsa-panel-inline {
    border-radius: 0.75rem;
}

@media (min-width: 375px) {
    .dsa-panel {
        padding: 1.5rem;
    }

    .dsa-panel-compact {
        padding: 1rem 1.5rem;
    }
}

@media (min-width: 728px) {
    .dsa-panel {
        padding: 2rem;
    }

    .dsa-panel-compact {
        padding: 1.5rem 2rem;
    }
}

@media (min-width: 928px) {
    .dsa-panel {
        padding: 3rem 4rem;
    }

    .dsa-panel-compact {
        padding: 1.5rem 4rem;
    }
}

.dsa-panel-fullscreen {
    padding-left: 0;
    padding-right: 0;
}

.dsa-panel-green {
    background: var(--primary-20);
}

.dsa-panel-blue {
    background: var(--secondary-20);
}

.dsa-panel-orange {
    background: var(--tertiary-5);
}
