@import "../components/Header/header.css";
@import "../components/Footer/footer.css";
@import "theme.css";

.container {
    max-width: 800px;
    width: 100%;
    margin: 2rem auto 0;
    padding: 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 2rem!important;
}

.mb-4 {
    margin-bottom: 4rem!important;
}




