:root {
  --primary-100: #003141;
  --primary-80: #024b62;
  --primary-60: #028088;
  --primary-40: #60c7ae;
  --primary-20: #c1f3db;
  --primary-10: #dff8ec;
  --primary-5: #effcf3;
  --secondary-100: #0b1649;
  --secondary-80: #252a76;
  --secondary-60: #1c2d9a;
  --secondary-40: #b0b7df;
  --secondary-20: #dfe2f3;
  --tertiary-60: #cd6148;
  --tertiary-40: #ffaf96;
  --tertiary-20: #ffc7b7;
  --tertiary-10: #ffeadd;
  --tertiary-5: #fff1e8;
  --neutral-80: #5e5955;
  --neutral-60: #a7a29e;
  --neutral-40: #c9c4bf;
  --neutral-20: #eceae8;
  --neutral-0: #ffffff;
  --info: #b0b7df;
  --success: #c1f3db;
  --warning-subtle: #fcfae1;
  --warning: #fcf9b5;
  --danger: #b50101;
}

[data-theme="arbeidsplassen"] {
  /* Default */
  --a-border-default: var(--secondary-100);

  /* Font */
  --a-font-family: "Inter", sans-serif;
  --a-font-size-large: 1rem;

  /* Text colors */
  --a-text-default: var(--secondary-100);
  --a-text-danger: var(--danger);

  /* Action color, for example buttons, checkbox, radio */
  --a-surface-action: var(--secondary-60);
  --a-surface-action-active: var(--secondary-100);
  --a-surface-action-selected: var(--secondary-60);
  --a-surface-action-hover: var(--secondary-80);
  --a-surface-action-subtle-hover: var(--secondary-20);
  --a-surface-action-selected-hover: var(--secondary-20);
  --a-text-action: var(--secondary-60);
  --a-border-action: var(--secondary-60);

  /* Info colors */
  --a-surface-info: var(--secondary-40);
  --a-surface-info-subtle: var(--secondary-20);
  --a-border-info: var(--secondary-40);

  /* Success colors */
  --a-surface-success: var(--primary-20);
  --a-surface-success-subtle: var(--primary-5);
  --a-border-success: var(--primary-40);
  --a-text-on-success: var(--secondary-100);

  /* Warning colors */
  --a-surface-warning: var(--warning);
  --a-surface-warning-subtle: var(--warning-subtle);
  --a-border-warning: var(--tertiary-60);

  /* Danger colors */
  --a-surface-danger: var(--danger);
  --a-surface-danger-subtle: var(--tertiary-10);
  --a-border-danger: var(--danger);

  /* Chips toogle */
  --ac-chip-toggle-pressed-bg: var(--primary-80);
  --ac-chip-toggle-pressed-text: var(--primary-20);
  --ac-chip-toggle-pressed-hover-bg: var(--primary-100);
  --ac-chip-toggle-border: var(--primary-80);
  --ac-chip-toggle-hover-bg: var(--secondary-20);
  --ac-chip-toggle-bg: var(--neutral-0);

  /* Chips removable */
  --ac-chip-removable-action-bg: var(--primary-80);
  --ac-chip-removable-action-text: var(--primary-20);
  --ac-chip-removable-action-hover-bg: var(--primary-100);

  /* Accordion */
  --ac-accordion-item-bg-open: var(--primary-10);
  --ac-accordion-header-border: var(--secondary-100);
  --ac-accordion-item-border-open: var(--secondary-100);

  /* Guide panel */
  --ac-guide-panel-illustration-bg: #90e8c3;
  --ac-guide-panel-border: #90e8c3;

  /* Link panel */
  --ac-link-panel-hover-text: var(--secondary-100);
  --ac-link-panel-hover-border: transparent;

  /* Tabs */
  --ac-tabs-selected-border: var(--primary-40);

  /* Stepper */
  --ac-stepper-line: var(--secondary-40);
  --ac-stepper-line-completed: var(--secondary-60);
  --ac-stepper-active: var(--secondary-80);
  --ac-stepper-active-bg: var(--secondary-80);
  --ac-stepper-active-border: var(--secondary-80);

  --ac-stepper-non-interactive: var(--neutral-80);
  --ac-stepper-non-interactive-active: var(--secondary-80);
  --ac-stepper-non-interactive-active-bg: var(--secondary-80);
  --ac-stepper-non-interactive-active-border: var(--secondary-80);

  /* Other */
  --a-border-divider: var(--primary-20);

  /* Remove all shadows */
  --a-shadow-xlarge: none;
  --a-shadow-large: none;
  --a-shadow-medium: none;
  --a-shadow-small: none;
  --a-shadow-xsmall: none;
}

.bg-primary-20 {
  background-color: var(--primary-20) !important;
}

.bg-secondary-20 {
  background-color: var(--secondary-20) !important;
}

.bg-tertiary-5 {
  background-color: var(--tertiary-5) !important;
}

/********************************************************************
 * TODO: Sjekk om Navs designsystem heller kan tilby css-variabler
 ********************************************************************/
.navds-button:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  border-radius: var(--a-border-radius-full) !important;
}

.navds-chips__chip {
  border-bottom-right-radius: 0 !important;
  font-weight: 600 !important;
}

.navds-tag {
  border-radius: var(--a-border-radius-full) !important;
  border-bottom-right-radius: 0 !important;
  font-weight: 600 !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.navds-accordion__header:hover {
  background: var(--secondary-20) !important;
}

.navds-text-field__asdinput {
  border-radius: 8px !important;
}
