.dsa-accordion-title {
    margin: 0;
    width: 100%;
}

.dsa-accordion-button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0.875rem 0.75rem 0.875rem 0.375rem;
    text-align: left;
    line-height: var(--line-height-small);
    font-size: var(--font-size-small);
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    width: 100%;
}

.dsa-accordion-button[aria-expanded="true"]{
    background: var(--primary-10);
}

.dsa-accordion-button:hover {
    background: var(--secondary-20);
}

.dsa-accordion-button:focus {
    outline: 3px solid var(--secondary-60);
    position: relative;
}

.dsa-accordion-button:hover {
    color: var(--secondary-60);
}

.accordion-content {
    padding: 1rem 0.75rem 1.5rem 0.75rem;
}

@media (min-width: 648px) {
    .accordion-content {
        padding: 1rem 0.75rem 1.5rem 2.75rem;
    }
}
