.dsa-text-field {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dsa-text-field-label {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

.dsa-text-field-input {
    padding: 0.75rem;
    border: 1px solid var(--primary-100);
}

.dsa-text-field-input:hover {
    border-color: var();
}