html, body {
    margin: 0;
    background: #f1f1f1;
}

.example-body-dark {
    background: #062140;
}

.x-body-with-margins {
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem 1rem;
}

.x-h1, .x-h2, .x-link, .x-body-text, .x-in-progress {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.x-h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.x-h2 {
    font-weight: 600;
    margin: 2.5rem 0 1rem 0;
}

.x-link {
    color: #8c368e;
}

.x-link:hover {
    text-decoration: none;
}

.x-link:focus {
    outline: 3px solid transparent;
    background: #062140;
    color: #fff;
}

.x-body-text {
    line-height: 1.5rem;
    font-size: 1.125rem;
}

.x-white-bg {
    background: #fff;
    padding: 1rem;
    margin: 1rem 0;
}

.x-flex {
    display: flex;
}

.x-gap-1 {
    gap: 1rem;
}

.x-in-progress {
    background: royalblue;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    margin: 0 0 1rem 0;
    padding: 0.25rem 1rem;
}

