.arb-link-panel {
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.arb-link-panel:not(.arb-primary-solid-bg-text) {
  border: 0;
}

.arb-link-panel.arb-primary-solid-bg-text {
  border-color: var(--arb-green-700);
}

.arb-link-panel.arb-primary-solid-bg-text:focus {
  border-color: #fff;
}
