:root {
    --arb-transparent: rgba(255, 255, 255, 0);
    --arb-white: #ffffff; 
    --arb-blue-50: #E3E6F7;
    --arb-blue-100: #C6CDF5;
    --arb-blue-200: #90A1EE;
    --arb-blue-300: #647BE8;
    --arb-blue-400: #3856E1;
    --arb-blue-500: #1E3CC7;
    --arb-blue-600: #1A34AF;
    --arb-blue-700: #172D98;
    --arb-blue-800: #252A76;
    --arb-blue-900: #0C1852;
    --arb-green-50: #EFFCF3;
    --arb-green-100: #DFF8EC;
    --arb-green-200: #C1F3DB;
    --arb-green-300: #8FCFBD;
    --arb-green-400: #60C7AE;
    --arb-green-500: #03B0A4;
    --arb-green-600: #028088;
    --arb-green-700: #024B62;
    --arb-green-800: #003141;
    --arb-green-900: #081D27;
    --arb-orange-50: #EFFCF3;
    --arb-orange-100: #DFF8EC;
    --arb-orange-200: #C1F3DB;
    --arb-orange-300: #8FCFBD;
    --arb-orange-400: #60C7AE;
    --arb-orange-500: #03B0A4;
    --arb-orange-600: #028088;
    --arb-orange-700: #024B62;
    --arb-orange-800: #003141;
    --arb-orange-900: #081D27;
    --arb-red-50: #EFFCF3;
    --arb-red-100: #DFF8EC;
    --arb-red-200: #C1F3DB;
    --arb-red-300: #8FCFBD;
    --arb-red-400: #60C7AE;
    --arb-red-500: #03B0A4;
    --arb-red-600: #028088;
    --arb-red-700: #024B62;
    --arb-red-800: #003141;
    --arb-red-900: #081D27;
    --arb-gray-50: #FFFFFF;
    --arb-gray-100: #F8F8F8;
    --arb-gray-200: #EBEBEB;
    --arb-gray-300: #DDDDDD;
    --arb-gray-400: #C3C3C3;
    --arb-gray-500: #A8A8A8;
    --arb-gray-600: #8D8D8D;
    --arb-gray-700: #808080;
    --arb-gray-800: #575757;
    --arb-gray-900: #4A4A4A;

    --tertiary-60: #cd6148;
    --tertiary-20: #ffc7b7;
    --tertiary-10: #ffeadd;
    --tertiary-5: #fff1e8;

    /*todo*/
    --warning-subtle: #fcfae1;
    --warning: #fcf9b5;
    --danger: #b50101;
}

[data-theme="arbeidsplassen"] {
    /* Font */
    --a-font-family: "Inter", sans-serif;
    --a-font-size-large: 1rem;

    /* Background */
    --a-bg-default: var(--arb-white);
    --a-bg-subtle: var(--arb-gray-200);

    /* Surface */
    --a-surface-default: var(--arb-white);
    --a-surface-hover: rgba(0, 0, 0, 0.03);
    --a-surface-active: rgba(0, 0, 0, 0.05);
    --a-surface-selected: var(--arb-blue-50);
    --a-surface-subtle: var(--arb-gray-400);
    --a-surface-transparent: rgba(255, 255, 255, 0);
    --a-surface-backdrop: rgba(0, 0, 0, 0.65);
    --a-surface-inverted-hover: rgba(64, 64, 64, 1);
    --a-surface-inverted-active: rgba(89, 89, 89, 1);
    --a-surface-inverted: rgba(38, 38, 38, 1);
    --a-surface-action-subtle: var(--arb-blue-50);
    --a-surface-action-subtle-hover: var(--arb-blue-100);
    --a-surface-action: var(--arb-blue-600);
    --a-surface-action-hover: var(--arb-blue-600);
    --a-surface-action-active: var(--arb-blue-700);
    --a-surface-action-selected: var(--arb-blue-700);
    --a-surface-action-selected-hover: var(--arb-blue-800);
    --a-surface-neutral-subtle: rgba(0, 0, 0, 0.05);
    --a-surface-neutral-subtle-hover: rgba(0, 0, 0, 0.1);
    --a-surface-neutral: rgba(112, 112, 112, 1);
    --a-surface-neutral-hover: rgba(89, 89, 89, 1);
    --a-surface-neutral-selected: rgba(89, 89, 89, 1);
    --a-surface-success-subtle: var(--arb-green-50);
    --a-surface-success-subtle-hover: var(--arb-green-100);
    --a-surface-success: var(--arb-green-500);
    --a-surface-success-hover: var(--arb-green-600);
    --a-surface-danger-subtle: var(--tertiary-10);
    --a-surface-danger-subtle-hover: var(--tertiary-20);
    --a-surface-danger: var(--danger);
    --a-surface-danger-hover: rgba(173, 0, 0, 1);
    --a-surface-danger-active: rgba(140, 0, 0, 1);
    --a-surface-warning-subtle: var(--warning-subtle);
    --a-surface-warning: var(--warning);
    --a-surface-warning-subtle-hover: rgba(255, 236, 204, 1);
    --a-surface-info-subtle: rgba(235, 252, 255, 1);
    --a-surface-info-subtle-hover: rgba(216, 249, 255, 1);
    --a-surface-info: var(--arb-blue-200);
    --a-surface-alt-1: rgba(130, 105, 162, 1);
    --a-surface-alt-1-subtle: rgba(239, 236, 244, 1);
    --a-surface-alt-2: rgba(193, 203, 51, 1);
    --a-surface-alt-2-subtle: rgba(253, 255, 230, 1);
    --a-surface-alt-3: rgba(0, 91, 130, 1);
    --a-surface-alt-3-subtle: rgba(230, 241, 248, 1);
    --a-surface-alt-3-strong: rgba(0, 52, 83, 1);

    /* Text colors */
    --a-text-default: var(--arb-green-900);
    --a-text-subtle: rgba(0, 0, 0, 0.56);
    --a-text-visited: rgba(99, 70, 137, 1);
    --a-text-danger: var(--danger);
    --a-text-action: var(--arb-blue-500);
    --a-text-action-selected: var(--arb-blue-700);
    --a-text-action-on-action-subtle: var(--arb-blue-600);
    --a-text-on-inverted: var(--arb-white);
    --a-text-on-neutral: var(--arb-white);
    --a-text-on-action: var(--arb-white);
    --a-text-on-success: var(--arb-green-900);
    --a-text-on-danger: var(--arb-white);
    --a-text-on-warning: var(--arb-green-900);
    --a-text-on-info: var(--arb-green-900);
    --a-text-on-alt-1: var(--arb-white);
    --a-text-on-alt-2: rgba(38, 38, 38, 1);
    --a-text-on-alt-3: var(--arb-white);

    /* Border colors */
    --a-border-default: var(--arb-gray-400);
    --a-border-strong: rgba(0, 0, 0, 0.56);
    --a-border-divider: var(--arb-green-200);
    --a-border-subtle: rgba(0, 0, 0, 0.1);
    --a-border-subtle-hover: rgba(0, 0, 0, 0.19);
    --a-border-action: var(--arb-blue-500);
    --a-border-action-selected: var(--arb-blue-700);
    --a-border-selected: var(--arb-blue-700);
    --a-border-success: var(--arb-green-400);
    --a-border-danger: var(--danger);
    --a-border-warning: var(--tertiary-60);
    --a-border-info: var(--arb-blue-300);
    --a-border-on-inverted: rgba(229, 229, 229, 1);
    --a-border-on-inverted-subtle: rgba(89, 89, 89, 1);
    --a-border-focus: rgba(0, 52, 125, 1);
    --a-border-focus-on-inverted: rgba(153, 195, 255, 1);
    --a-border-alt-1: rgba(130, 105, 162, 1);
    --a-border-alt-2: rgba(193, 203, 51, 1);
    --a-border-alt-3: rgba(0, 91, 130, 1);

    /* Remove all shadows */
    --a-shadow-xlarge: none;
    --a-shadow-large: none;
    --a-shadow-medium: none;
    --a-shadow-small: none;
    --a-shadow-xsmall: none;

    /* Chips toogle */
    --ac-chip-toggle-pressed-bg: var(--arb-green-700);
    --ac-chip-toggle-pressed-text: var(--arb-green-200);
    --ac-chip-toggle-pressed-hover-bg: var(--arb-green-900);
    --ac-chip-toggle-border: var(--arb-green-700);
    --ac-chip-toggle-hover-bg: var(--arb-blue-200);
    --ac-chip-toggle-bg: var(--arb-white);

    /* Chips removable */
    --ac-chip-removable-action-bg: var(--arb-green-700);
    --ac-chip-removable-action-text: var(--arb-green-200);
    --ac-chip-removable-action-hover-bg: var(--arb-green-900);

    /* Accordion */
    --ac-accordion-item-bg-open: var(--arb-green-100);
    --ac-accordion-header-border: var(--arb-blue-900);
    --ac-accordion-item-border-open: var(--arb-blue-900);

    /* Guide panel */
    --ac-guide-panel-illustration-bg: #90e8c3;
    --ac-guide-panel-border: #90e8c3;

    /* Link panel */
    --ac-link-panel-hover-text: currentColor;
    --ac-link-panel-hover-border: var(--arb-blue-700);

    /* Tabs */
    --ac-tabs-selected-border: var(--arb-green-400);
}

/********************************************************************
 * TODO: Sjekk om Navs designsystem heller kan tilby css-variabler
 ********************************************************************/
.navds-button:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
    border-radius: var(--a-border-radius-full) !important;
}

.navds-chips__chip {
    border-bottom-right-radius: 0 !important;
    font-weight: 600 !important;
}

.navds-tag {
    border-radius: var(--a-border-radius-full) !important;
    border-bottom-right-radius: 0 !important;
    font-weight: 600 !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.navds-accordion__header:hover {
    background: var(--arb-blue-200) !important;
}
