._doc-bg-primary-100 {
  background-color: var(--primary-100);
  color: var(--neutral-0);
}

._doc-bg-primary-80 {
  background-color: var(--primary-80);
  color: var(--neutral-0);
}

._doc-bg-primary-60 {
  background-color: var(--primary-60);
  color: var(--neutral-0);
}

._doc-bg-primary-40 {
  background-color: var(--primary-40);
  color: var(--primary-100);
}

._doc-bg-primary-20 {
  background-color: var(--primary-20);
  color: var(--primary-100);
}

._doc-bg-primary-10 {
  background-color: var(--primary-10);
  color: var(--primary-100);
}

._doc-bg-primary-5 {
  background-color: var(--primary-5);
  color: var(--primary-100);
}

._doc-bg-secondary-100 {
  background-color: var(--secondary-100);
  color: var(--neutral-0);
}

._doc-bg-secondary-80 {
  background-color: var(--secondary-80);
  color: var(--neutral-0);
}

._doc-bg-secondary-60 {
  background-color: var(--secondary-60);
  color: var(--neutral-0);
}

._doc-bg-secondary-40 {
  background-color: var(--secondary-40);
  color: var(--primary-100);
}

._doc-bg-secondary-20 {
  background-color: var(--secondary-20);
  color: var(--primary-100);
}

._doc-bg-tertiary-60 {
  background-color: var(--tertiary-60);
  color: var(--neutral-0);
}

._doc-bg-tertiary-40 {
  background-color: var(--tertiary-40);
  color: var(--primary-100);
}

._doc-bg-tertiary-20 {
  background-color: var(--tertiary-20);
  color: var(--primary-100);
}

._doc-bg-tertiary-10 {
  background-color: var(--tertiary-10);
  color: var(--primary-100);
}

._doc-bg-tertiary-5 {
  background-color: var(--tertiary-5);
  color: var(--primary-100);
}

._doc-bg-neutral-80 {
  background-color: var(--neutral-80);
  color: var(--neutral-0);
}

._doc-bg-neutral-60 {
  background-color: var(--neutral-60);
  color: var(--primary-100);
}

._doc-bg-neutral-40 {
  background-color: var(--neutral-40);
  color: var(--primary-100);
}

._doc-bg-neutral-20 {
  background-color: var(--neutral-20);
  color: var(--primary-100);
}

._doc-bg-info-neutral {
  background-color: var(--info-neutral-bg);
  color: var(--primary-100);
}

._doc-bg-info-warning {
  background-color: var(--info-warning-bg);
  color: var(--primary-100);
}

._doc-bg-info-error-text {
  background-color: var(--info-error-text);
  color: var(--neutral-0);
}

._doc-bg-info-error {
  background-color: var(--info-error-bg);
  color: var(--primary-100);
}

.dsa-text-primary-100 {
  color: var(--primary-100);
}

.dsa-text-primary-80 {
  color: var(--primary-80);
}

.dsa-text-primary-20 {
  color: var(--primary-20);
}

.dsa-text-neutral-0 {
  color: var(--neutral-0);
}

.dsa-border-primary-100 {
  border: 1px solid var(--primary-100);
}
