body {
  overflow-y: scroll;
  background: var(--a-bg-default);
  color: var(--a-text-default);
}

#main {
  max-width: 1344px;
  margin: 0 auto;
  gap: 2rem 6rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #main {
    flex-direction: row;
    display: flex;
  }
}

.layout-toc ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (min-width: 1024px) {
  .layout-toc ul {
    flex-direction: column;
  }
}

.layout-toc ul li a {
  background: var(--a-surface-neutral-subtle);
  color: var(--a-text-subtle) !important;
  padding: 0 6px;
  border-radius: 4px;
  display: inline-block;
}

.layout-content-default {
  max-width: 75ch;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout-content-full-width {
  width: 100%;
}

.page-margin-top-and-bottom {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

code {
  font-size: 0.95rem;
  background: var(--a-surface-neutral-subtle);
  color: var(--a-text-subtle);
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pa-2 {
  padding: 2rem !important;
}
