body {
  overflow-y: scroll;
  font-size: 1rem;
  background: var(--a-bg-default);
  color: var(--a-text-default);
}

.layout-toc ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.layout-toc ul li a {
  background: var(--a-surface-neutral-subtle);
  color: var(--a-text-subtle) !important;
  padding: 0 6px;
  border-radius: 4px;
  display: inline-block;
}

.layout-content-default {
  max-width: 75ch;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout-content-full-width {
  width: 100%;
}

.page-margin-top-and-bottom {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

code {
  font-size: 0.95rem;
  background: var(--a-surface-neutral-subtle);
  color: var(--a-text-subtle);
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pa-2 {
  padding: 2rem !important;
}

.modal-small {
  max-width: 800px;
  width: 100%;
  padding: 1.5rem;
}
