.arb-footer {
  margin: 0;
  padding: 2.5rem 1rem;
  background: #c1f3db;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .arb-footer {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.arb-footer-sections {
  display: flex;
  flex-direction: column;
  gap: 2.5rem 4rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .arb-footer-sections {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
}

.arb-footer-h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .arb-footer-h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.arb-footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.arb-footer-section ul li a {
  font-size: 1rem;
  line-height: 1.5;
  color: #003141;
}

.arb-footer-section ul li a:hover {
  text-decoration: none;
}

.arb-footer-section ul li a:focus {
  outline: none;
  color: #fff;
  background: #1c2d9a;
}

.arb-footer-bottom {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .arb-footer-bottom {
    align-items: center;
  }
}

.arb-footer-logo {
  margin: 0;
  display: inline-flex;
  height: 20px;
  color: #003141;
}

.arb-footer-logo:focus {
  outline: 3px solid #1c2d9a;
}

.arb-footer-p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
