body {
  overflow-y: scroll;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 2rem auto 0;
  padding: 1rem;
  display: flex;
  gap: 8rem;
}

.container-toc {
  min-width: 240px;
}

.container-content {
  flex: 1;
}

.container-small {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-margin-top-and-bottom {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

code {
  font-size: 0.95rem;
  background: #f9f7f7;
  color: #666;
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pa-2 {
  padding: 2rem !important;
}

.modal-small {
  max-width: 800px;
  width: 100%;
  padding: 1.5rem;
}


