[data-theme="arbeidsplassen"] {
  --a-font-family: "Inter", sans-serif;
  --a-font-size-medium: 0.875rem;
  --a-font-size-large: 1rem;
  --a-font-size-xlarge: 1.5rem;
  --a-font-line-height-xlarge: 1.5;
  --a-font-size-heading-xsmall: 1rem;
  --a-font-size-heading-small: 1.25rem;
  --a-font-size-heading-medium: 1.5rem;
  --a-font-size-heading-large: 2rem;
  --a-font-size-heading-xlarge: 3rem;
  --a-font-size-heading-2xlarge: 3rem;
  --a-font-line-height-heading-xsmall: 1.5;
  --a-font-line-height-heading-small: 1.4;
  --a-font-line-height-heading-medium: 1.33;
  --a-font-line-height-heading-large: 1.25;
  --a-font-line-height-heading-xlarge: 1.2;
  --a-font-line-height-heading-2xlarge: 1.2;

  --a-shadow-focus: 0 0 0 3px var(--a-border-focus);

  --a-border-radius-small: 4px;
  --a-border-radius-medium: 6px;
}

/******************************************************
 * Heading overrides
 ******************************************************/
.navds-heading--2xlarge,
.navds-heading--xlarge,
.navds-heading--large,
.navds-heading--medium {
  font-weight: 700 !important;
}

.navds-heading--2xlarge {
  letter-spacing: -0.05em !important;
}

.navds-heading--xlarge {
  letter-spacing: -0.05em !important;
}

.navds-heading--large {
  letter-spacing: -0.03em !important;
}

.navds-heading--medium {
  letter-spacing: -0.02em !important;
}

.navds-heading--small {
  letter-spacing: -0.01em !important;
}

.navds-heading--xsmall {
  letter-spacing: -0.01em !important;
}

/******************************************************
 * Button overrides
 ******************************************************/
.navds-button:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  border-radius: var(--a-border-radius-full) !important;
  padding: 0.75rem 1.5rem !important;
}

.navds-button--small:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  padding: 0.5rem 1rem !important;
}

.navds-button--xsmall:not(
    .navds-button--icon-only,
    .navds-search__button-search,
    .navds-date__field-button,
    .navds-pagination__item
  ) {
  padding: 0.375rem 1rem !important;
}

/******************************************************
 * Link panel overrides
 ******************************************************/
.navds-link-panel:hover {
  box-shadow: none !important;
}

/******************************************************
 * Chips overrides
 ******************************************************/
.navds-chips__chip {
  border-bottom-right-radius: 0 !important;
}

/******************************************************
 * Tag overrides
 ******************************************************/
.navds-tag {
  font-weight: 600 !important;
  border-radius: var(--a-border-radius-full) !important;
  border-bottom-right-radius: 0 !important;
}

.navds-tag--medium {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.navds-tag--small,
.navds-tag--xsmall {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
