@import "./variables.css";

@import "./Accordion/Accordion.css";
@import "./Alert/Alert.css";
@import "./Anchor/Anchor.css";
@import "./Blockquote/Blockquote.css";
@import "./BodyText/BodyText.css";
@import "./Button/Button.css";
@import "./Card/Card.css";
@import "./Container/Container.css";
@import "./Figure/Figure.css";
@import "./Footer/Footer.css";
@import "./Header/Header.css";
@import "./Heading/Heading.css";
@import "./Ingress/Ingress.css";
@import "./Label/Label.css";
@import "./LinkPanel/LinkPanel.css";
@import "./List/List.css";
@import "./Panel/Panel.css";
@import "./Pill/Pill.css";
@import "./SkipLink/SkipLink.css";
@import "./SmallText/SmallText.css";
@import "./TabMenu/TabMenu.css";
@import "./Tag/Tag.css";
@import "./ToolButton/ToolButton.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--primary-100);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 320px) {
    .dsa-header-offset {
        /* equals to fixed header height */
        padding-top: 73px;
        scroll-padding-top: 73px;
    }
}

@media (min-width: 375px) {
    .dsa-header-offset {
        /* equals to fixed header height */
        padding-top: 80px;
        scroll-padding-top: 80px;
    }
}

@media (min-width: 728px) {
    .dsa-header-offset {
        /* equals to fixed header height */
        padding-top: 96px;
        scroll-padding-top: 96px;
    }
}

.mb-0_25 {
    margin-bottom: 0.25rem;
}
.mb-0_5 {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-1_5 {
    margin-bottom: 1.5rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-6 {
    margin-bottom: 6rem;
}

.mt-0_25 {
    margin-top: 0.25rem;
}
.mt-0_5 {
    margin-top: 0.5rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-1_5 {
    margin-top: 1.5rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}

.gt-0_25 {
    margin-top: calc(var(--gutter) * 0.25);
}
.gt-0_5 {
    margin-top: calc(var(--gutter) * 0.25);
}
.gt-1 {
    margin-top: var(--gutter);
}
.gt-1_5 {
    margin-top: calc(var(--gutter) * 1.5);
}
.gt-2 {
    margin-top: calc(var(--gutter) * 2);
}
.gt-3 {
    margin-top: calc(var(--gutter) * 3);
}
.gt-4 {
    margin-top: calc(var(--gutter) * 4);
}
.gt-5 {
    margin-top: calc(var(--gutter) * 5);
}
.gt-6 {
    margin-top: calc(var(--gutter) * 6);
}

.gb-0_25 {
    margin-bottom: calc(var(--gutter) * 0.25);
}
.gb-0_5 {
    margin-bottom: calc(var(--gutter) * 0.25);
}
.gb-1 {
    margin-bottom: var(--gutter);
}
.gb-1_5 {
    margin-bottom: calc(var(--gutter) * 1.5);
}
.gb-2 {
    margin-bottom: calc(var(--gutter) * 2);
}
.gb-3 {
    margin-bottom: calc(var(--gutter) * 3);
}
.gb-4 {
    margin-bottom: calc(var(--gutter) * 4);
}
.gb-5 {
    margin-bottom: calc(var(--gutter) * 5);
}
.gb-6 {
    margin-bottom: calc(var(--gutter) * 6);
}
