@import "./variables.css";

@import "./components/Alert/Alert.css";
@import "./components/Anchor/Anchor.css";
@import "./components/BodyText/BodyText.css";
@import "./components/Button/Button.css";
@import "./components/Container/Container.css";
@import "./components/Footer/Footer.css";
@import "./components/Header/Header.css";
@import "./components/Heading/Heading.css";
@import "./components/Ingress/Ingress.css";
@import "./components/Jumbo/Jumbo.css";
@import "./components/LinkButton/LinkButton.css";
@import "./components/List/List.css";
@import "./components/Pill/Pill.css";
@import "./components/Section/Section.css";
@import "./components/SkipLink/SkipLink.css";
@import "./components/Tag/Tag.css";
@import "./components/TypeAhead/TypeAhead.css";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--primary-100);
    padding-top: calc(var(--header-offset) + var(--gutter));
    scroll-padding-top: calc(var(--header-offset) + var(--gutter));
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}