/*********************************************
 * Colors
 *********************************************/
:root {
    --primary-100: #003141;
    --primary-80: #024b62;
    --primary-60: #028088;
    --primary-40: #60c7ae;
    --primary-20: #c1f3db;
    --primary-10: #dff8ec;
    --primary-5: #effcf3;
    --secondary-100: #0b1649;
    --secondary-80: #252a76;
    --secondary-60: #1c2d9a;
    --secondary-40: #b0b7df;
    --secondary-20: #dfe2f3;
    --tertiary-60: #cd6148;
    --tertiary-40: #ffaf96;
    --tertiary-20: #ffc7b7;
    --tertiary-10: #ffeadd;
    --tertiary-5: #fff1e8;
    --neutral-80: #5e5955;
    --neutral-60: #a7a29e;
    --neutral-40: #c9c4bf;
    --neutral-20: #eceae8;
    --neutral-0: #ffffff;
    --info-error-text: #b50101;
    --info-error-bg: #ffc7b7;
    --info-warning-bg: #fcf9b5;
    --info-neutral-bg: #b0b7df;
}

/*********************************************
 * Font
 *********************************************/
:root {
    --font-family: "Inter", sans-serif;

    --font-size-default: 1rem;
    --font-size-xxlarge: 2.25rem;
    --font-size-xlarge: 1.75rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;
    --font-size-xsmall: 0.875rem;

    --line-height-default: 1.5rem;
    --line-height-xxlarge: 2.875rem;
    --line-height-xlarge: 2.375rem;
    --line-height-large: 2rem;
    --line-height-medium: 1.75rem;
    --line-height-small: 1.5rem;
    --line-height-xsmall: 1.375rem;
}

@media (min-width: 648px) {
    :root {
        --font-size-xxlarge: 3rem;
        --font-size-xlarge: 2.25rem;
        --font-size-large: 1.75rem;
        --font-size-medium: 1.5rem;
        --font-size-small: 1.25rem;
        --font-size-xsmall: 1rem;

        --line-height-xxlarge: 3.75rem;
        --line-height-xlarge: 2.875rem;
        --line-height-large: 2.375rem;
        --line-height-medium: 2rem;
        --line-height-small: 1.75rem;
        --line-height-xsmall: 1.5rem;
    }
}

/*********************************************
 * Space
 *********************************************/
:root {
    --gutter: 1rem;
}

@media (min-width: 648px) {
    :root {
        --gutter: 1.5rem;
    }
}
