:root {
  --primary-100: #003141;
  --primary-80: #024b62;
  --primary-60: #028088;
  --primary-40: #60c7ae;
  --primary-20: #c1f3db;
  --primary-10: #dff8ec;
  --primary-5: #effcf3;
  --secondary-100: #0b1649;
  --secondary-80: #252a76;
  --secondary-60: #1c2d9a;
  --secondary-40: #b0b7df;
  --secondary-20: #dfe2f3;
  --tertiary-60: #cd6148;
  --tertiary-40: #ffaf96;
  --tertiary-20: #ffc7b7;
  --tertiary-10: #ffeadd;
  --tertiary-5: #fff1e8;
  --neutral-80: #5e5955;
  --neutral-60: #a7a29e;
  --neutral-40: #c9c4bf;
  --neutral-20: #eceae8;
  --neutral-0: #ffffff;
  --info-error-text: #b50101;
  --info-error-bg: #ffc7b7;
  --info-warning-bg: #fcf9b5;
  --info-neutral-bg: #b0b7df;
}
