:root {
    --primary-100: #003141;
    --primary-80: #024B62;
    --primary-60: #028088;
    --primary-40: #60C7AE;
    --primary-20: #C1F3DB;
    --primary-10: #DFF8EC;
    --primary-5: #EFFCF3;
    --secondary-100: #0B1649;
    --secondary-80: #252A76;
    --secondary-60: #1C2D9A;
    --secondary-40: #B0B7DF;
    --secondary-20: #DFE2F3;
    --tertiary-60: #CD6148;
    --tertiary-40: #FFAF96;
    --tertiary-20: #FFC7B7;
    --tertiary-10: #FFEADD;
    --tertiary-5: #FFF1E8;
    --neutral-80: #5E5955;
    --neutral-60: #A7A29E;
    --neutral-40: #C9C4BF;
    --neutral-20: #ECEAE8;
    --neutral-0: #FFFFFF;
    --info-error-text: #B50101;
    --info-error-bg: #FFC7B7;
    --info-warning-bg: #FCF9B5;
    --info-neutral-bg: #B0B7DF;
}