.dsa-skip-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    clip: rect(1px, 1px, 1px, 1px);
    background-color: #062140;
    color: #fff
}

.dsa-skip-link:focus,
.dsa-skip-link:active {
    text-align: center;
    margin: auto;
    clip: auto;
    outline: none;
    padding: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.15;
}

.dsa-skip-link:focus:hover,
.dsa-skip-link:active:hover {
    text-decoration: none;
}
